@using YadiYad.Pro.Core.Domain.Common

<div class="content content-job-profile">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h5>Personal Info</h5>
                    </div>
                    <div class="col-12">
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Category</label>
                            <div class="col-sm-9">
                                <label class="col-form-label" text="{{categoryName}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Job Title</label>
                            <div class="col-sm-9">
                                <label class="col-form-label" text="{{jobTitle}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Required Expertise</label>
                            <div class="col-sm-9 area-interest">
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Preferred Experience</label>
                            <div class="col-sm-9">
                                <label class="col-form-label" text="{{preferredExperienceName}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <hr class="mb-4" />
                    </div>
                    <div class="col-12">
                        <h5>Job Type</h5>
                    </div>
                    <div class="col-12">
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Job Type</label>
                            <div class="col-sm-9">
                                <label class="col-form-label" text="{{jobTypeText}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <hr class="mb-4" />
                    </div>
                    <div class="col-12">
                        <h5>Required Time Frame</h5>
                    </div>

                    <div class="col-12">
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Job Duration</label>
                            <div class="col-sm-9">
                                <label class="col-form-label" text="{{jobDuration}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Job Duration Phase</label>
                            <div class="col-sm-9">
                                <label class="col-form-label" text="{{jobDurationPhaseName}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Is Immediate</label>
                            <div class="col-sm-9">
                                <label class="col-form-label" text="{{isImmediate}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Start Date</label>
                            <div class="col-sm-9">
                                <label class="col-form-label" text="{{startDate}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <hr class="mb-4" />
                    </div>
                    <div class="col-12">
                        <h5>Job Model &nbsp; Location</h5>
                    </div>
                    <div class="col-12">
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Is Onsite</label>
                            <div class="col-sm-9">
                                <label class="col-form-label" text="{{isOnsite}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Is Partial-Onsite</label>
                            <div class="col-sm-9">
                                <label class="col-form-label" text="{{isPartialOnsite}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Is Remote</label>
                            <div class="col-sm-9">
                                <label class="col-form-label" text="{{isRemote}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Country</label>
                            <div class="col-sm-9">
                                <label class="col-form-label" text="{{countryName}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">State</label>
                            <div class="col-sm-9">
                                <label class="col-form-label" text="{{stateProvinceName}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">City</label>
                            <div class="col-sm-9">
                                <label class="col-form-label" text="{{cityName}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <hr class="mb-4" />
                    </div>
                    <div class="col-12">
                        <h5>Pay</h5>
                    </div>
                    <div class="col-12">
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Pay Amount</label>
                            <div class="col-sm-9">
                                <label class="col-form-label" text="{{payAmount}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Payment Phase</label>
                            <div class="col-sm-9">
                                <label class="col-form-label" text="{{jobPaymentPhaseName}}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row  justify-content-md-center">
            <div class="col-12 text-center">
                <button class="btn btn-primary btn-edit">Edit Profile</button>
            </div>
            <div class="col-12">
                <br />
            </div>
        </div>
    </div>
</div>

<partial name="_FormComponent" />

@section StyleLibs{
    <link href="~/lib/bootstrap-datePicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="/lib/select2/css/select2.min.css" rel="stylesheet">

}
@section ScriptLibs{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="/lib/moment/moment.min.js"></script>
    <script src="/lib/select2/js/select2.full.min.js"></script>
    <script src="~/lib/bootstrap-datePicker/js/bootstrap-datepicker.min.js"></script>
}

@section Scripts{
    <environment include="Development">
        <script src="~/js/pro/job/index.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/pro/job/index.es5.min.js" asp-append-version="true"></script>
    </environment>
}