@model NewsModel

<div class="panel-body">
    <div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="Title" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Title" asp-required="true" />
                <span asp-validation-for="Title"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="Short" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Short" asp-required="true" />
                <span asp-validation-for="Short"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="Full" />
            </div>
            <div class="col-md-9">
                <div class="input-group input-group-required">
                    <nop-editor asp-for="Full" asp-template="RichEditor" />
                    <div class="input-group-btn">
                        <nop-required />
                    </div>
                </div>
                <span asp-validation-for="Full"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="StartDateUtc" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="StartDateUtc" asp-required="true" />
                <span asp-validation-for="StartDateUtc"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="EndDateUtc" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="EndDateUtc" asp-required="true" />
                <span asp-validation-for="EndDateUtc"></span>
            </div>
        </div>
    </div>
</div>

