@model ConfigurationModel

@{
    ViewBag.PageTitle = T("Admin.NopStation.AppPushNotification.Configuration.Title").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("AppPushNotifications");
}

<form asp-controller="AppPushNotification" asp-action="Configure" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.NopStation.AppPushNotification.Configuration.Title")
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            @await Component.InvokeAsync("StoreScopeConfiguration")
            <div asp-validation-summary="All"></div>

            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="GoogleConsoleApiAccessKey_OverrideForStore" asp-input="GoogleConsoleApiAccessKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="GoogleConsoleApiAccessKey" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="GoogleConsoleApiAccessKey" />
                                <span asp-validation-for="GoogleConsoleApiAccessKey"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="ApplicationTypeId_OverrideForStore" asp-input="ApplicationTypeId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="ApplicationTypeId" />
                            </div>
                            <div class="col-md-9">
                                <nop-select asp-for="ApplicationTypeId" asp-items="Model.AvailableApplicationTypes" />
                                <span asp-validation-for="ApplicationTypeId"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>