@model ReturnOrderModel

@using Nop.Core.Domain.Orders;
@using Nop.Services

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="panel-group">
    @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.ReturnRequestDetailsTop, additionalData = Model })
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <div class="label-wrapper"><label class="control-label" for="createdOnUtc">Created On</label></div>
                </div>
                <div class="col-md-9">
                    @Model.createdOnUtc
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <div class="label-wrapper"><label class="control-label" for="estimatedShippingExclTax">Estimated Shipping Without Tax</label></div>
                </div>
                <div class="col-md-9">
                    @Model.EstimatedShippingExclTax
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <div class="label-wrapper"><label class="control-label" for="estimatedShippingInclTax">Estimated Shipping With Tax</label></div>
                </div>
                <div class="col-md-9">
                    @Model.EstimatedShippingInclTax
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <div class="label-wrapper"><label class="control-label" for="GroupReturnRequestId">Return ID</label></div>
                </div>
                <div class="col-md-9">
                    @Model.GroupReturnRequestId
                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.ReturnRequestDetailsBottom, additionalData = Model })
</div>
