@model CancellationRequestEditModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.Charge").Text;

    Html.SetActiveMenuItemSystemName("Cancellation Request");

}

@*@section header{
    <link href="/lib/fineuploader/fine-uploader.min.css" rel="stylesheet" />
}
@section headermenu{
    <script src="/lib/fineuploader/jquery.fine-uploader.min.js"></script>
}*@

<form asp-controller="CancellationRequest" asp-action="Edit" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Edit Cancellation Request
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">back to cancellation request list</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.NewsDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>

<script>
   
</script>




