@using YadiYad.Pro.Core.Domain.Service
@using YadiYad.Pro.Web.Models.Enums


<form id="form-job-list" class="content">
    <div class="container">
        @await Component.InvokeAsync("JobSeekerMenu", YadiYad.Pro.Web.Enums.JobSeekerMenuType.Applied)
        @*<partial name="../Job/_JobSeekerMenu" model="YadiYad.Pro.Web.Enums.JobSeekerMenuType.Applied" />*@
        <div class="content-job-application">
        </div>
    </div>
</form>

<partial name="_Modal"
         model='
new BootstrapModel {
    ID = "modal-payout-request",
    AreaLabeledId = "modal-action-store-label",
    Size = ModalSize.XLarge,
    AdditionalClass = "no-title"
}' />

<partial name="_Modal"
         model='
new BootstrapModel {
    ID = "modal-terminate",
    AreaLabeledId = "modal-action-store-label",
    Size = ModalSize.Medium,
    AdditionalClass = "no-title"
}' />

<partial name="_Modal"
         model='
new BootstrapModel {
    ID = "modal-cancel",
    AreaLabeledId = "modal-action-store-label",
    Size = ModalSize.Medium,
    AdditionalClass = "no-title"
}' />

<partial name="_Modal"
         model='
new BootstrapModel {
    ID = "modal-action",
    AreaLabeledId = "modal-action-store-label",
    Size = ModalSize.Medium,
    AdditionalClass = "no-title"
}' />

<script id="tmpl-content-job-application" type="text/x-jsrender">
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h6 class="col-12 text-bold">Filter by date range</h6>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12">
                            <input type="text" class="form-control form-control-daterangepicker" name="dateRangeFilter" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-right">
                            <button class="btn w-auto btn-primary cursor-default submit">Search</button>
                        </div>
                    </div>
                </div>
            </div>
            {^{if jobApplicationsList.totalCount > 0}}
            <div class="card">
                <div class="card-header text-center p-2 bg-gray-dark">
                    <h6 class="text-bold m-0">Applications ({^{:jobApplicationsList.totalCount}})</h6>
                </div>
                <div class="card-body">
                    {^{for jobApplicationsList.data}}
                    {{if #index !== 0}}
                    <hr />
                    {{/if}}
                    <div data-link="class{:'card cursor-pointer shadow-none '+(selected?'selected':'')}">
                        <div class="card-body" data-link="{on 'click' ~root.setSelectedJobApplication #data}">
                            <span>{{:createdOn}}</span>
                            {{if jobProfile}}
                            {{if jobApplicationStatus == 6}}
                            <span class="badge badge-pill badge-secondary float-right">Hired</span>
                            {{else jobApplicationStatus == 5 || jobApplicationStatus == 12 ||  jobApplicationStatus == 13}}
                            <span class="badge badge-pill badge-danger float-right">{{:jobApplicationStatusName}}</span>
                            {{else jobApplicationStatus == 4}}
                            <span class="badge badge-pill badge-gray float-right">Under Consideration</span>
                            {{else jobApplicationStatus == 2}}
                            <span class="badge badge-pill badge-gray float-right">Shortlisted</span>
                            {{else jobApplicationStatus == 11}}
                            <span class="badge badge-pill badge-warning float-right">Expired</span>
                            {{else jobApplicationStatus == 7}}
                            <span class="badge badge-pill badge-secondary float-right">Paid</span>
                            {{else jobApplicationStatus == 14}}
                            <span class="badge badge-pill badge-gray float-right">Under Consideration</span>
                            {{else jobApplicationStatus == 15}}
                            <span class="badge badge-pill badge-gray float-right">Under Consideration</span>
                            {{else jobApplicationStatus == 16}}
                            <span class="badge badge-pill badge-success float-right">Completed</span>
                            {{else}}
                            {{/if}}
                            {{else consultationProfile}}
                            {{if jobApplicationStatus == 2}}
                            <span class="badge badge-pill badge-info float-right">Under Consideration</span>
                            {{else jobApplicationStatus == 4}}
                            <span class="badge badge-pill badge-secondary float-right">Paid</span>
                            {{else jobApplicationStatus == 5}}
                            <span class="badge badge-pill badge-success float-right">Completed</span>
                            {{else jobApplicationStatus == 6}}
                            <span class="badge badge-pill badge-gray float-right">{{:jobApplicationStatusName}}</span>
                            {{else jobApplicationStatus == 7}}
                            <span class="badge badge-pill badge-gray float-right">{{:jobApplicationStatusName}}</span>
                            {{/if}}
                            {{/if}}
                            {{if jobApplicationStatus != 11}}
                            <h4 class="text-bold">{{:organizationName}}</h4>
                            {{/if}}
                            {{if jobApplicationStatus == 11}}
                            <h4 class="text-bold">{{:code}}</h4>
                            {{/if}}
                            {{if jobProfile}}
                            <h4 class="text-bold">{{:jobProfile.jobTitle}}</h4>
                            <div><span>{{:jobProfile.jobTypeText}}</span></div>
                            <div>
                                <span class="text-bold">RM {{:jobProfile.payAmount}}</span>&nbsp;/
                                <span>
                                    {{if jobProfile.jobType == 1}}
                                    <span> (per hour)</span>
                                    {{/if}}
                                    {{if jobProfile.jobType == 2}}
                                    <span> (per day)</span>
                                    {{/if}}
                                    {{if jobProfile.jobType == 3}}
                                    <span> for entire project</span>
                                    {{/if}}
                                </span>
                            </div>
                            <div>
                                {{if jobProfile.isOnsite == true || jobProfile.isPartialOnsite == true}}
                                <span class='badge badge-pill badge-primary'>{{if jobProfile.cityId != null}}{{:jobProfile.cityName}}{{/if}}{{if jobProfile.cityId == null}}All City{{/if}}, {{if jobProfile.stateProvinceId != null}}{{:jobProfile.stateProvinceName}}{{/if}}{{if jobProfile.stateProvinceId == null}}All State{{/if}}, {{if jobProfile.countryId != null}}{{:jobProfile.countryName}}{{/if}}{{if jobProfile.countryId == null}}All Country{{/if}}</span>
                                {{/if}}
                                {{if jobProfile.isOnsite == true}}
                                <span class="badge badge-pill badge-gray">Onsite</span>
                                {{/if}}
                                {{if jobProfile.isPartialOnsite == true}}
                                <span class="badge badge-pill badge-gray">Partial onsite</span>
                                {{/if}}
                                {{if jobProfile.isRemote == true}}
                                <span class="badge badge-pill badge-gray">Remote</span>
                                {{/if}}
                                {{if isEscrow === true}}
                                <span class="badge badge-pill badge-primary float-lg-right">Escrow</span>
                                {{else}}
                                <span class="badge badge-pill badge-primary float-lg-right">Non-escrow</span>
                                {{/if}}
                            </div>
                            {{/if}}
                            {{if consultationProfile}}
                            <h4 class="text-bold">Consultation Job #{{:consultationProfile.id}}</h4>
                            <div><span>Consultant</span></div>
                            <div>
                                <span class="badge badge-pill badge-primary">{{:serviceProfile.categoryName}}</span>
                                <span class="badge badge-pill badge-gray">{{:serviceProfile.experienceYearName}}</span>
                            </div>
                            
                            {{/if}}
                        </div>
                    </div>
                    {{/for}}
                </div>
            </div>
            {^{include ~root.pagination.model tmpl="#tmp-simple-pagination"/}}
            {{/if}}
        </div>
        <div class="col-lg-8 col-sm-12">
            {^{if jobApplicationsList.totalCount <= 0}}
            <div class="card">
                <div class="text-center mt-5 mb-5">
                    <h4 class="text-primary text-bold">No Application</h4>
                </div>
            </div>
            {{else}}
            {^{if selectedJobApplication  ~item=selectedJobApplication}}
            {{if ~item.consultationProfile ~consultationProfile=~item.consultationProfile}}
            {{if selectedJobApplication.appointmentEndDate && selectedJobApplication.appointmentStartDate && selectedJobApplication.jobApplicationStatus == 4}}
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <span class="badge badge-pill badge-success ">Attention</span>
                            <span class="align-top">
                                Your engagement appointment date has been confirmed.
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            {{else !selectedJobApplication.appointmentEndDate && !selectedJobApplication.appointmentStartDate && selectedJobApplication.jobApplicationStatus == 4}}
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <span class="badge badge-pill badge-warning ">Attention</span>
                            <span class="align-top">
                                Your engagement has been confirmed. Moderator will contact you within 3 working days to set the appointment.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            {{/if}}
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="text-bold text-primary">Consultation Job #{{:~consultationProfile.id}}</h4>
                        </div>
                        {{if selectedJobApplication.appointmentEndDate && selectedJobApplication.appointmentStartDate && selectedJobApplication.jobApplicationStatus == 4}}
                        <div class="col-12">
                            <h5 class="text-bold mb-0">Moderator Email : {{:~item.moderatorEmail}}</h5>
                        </div>
                        {{/if}}
                        <div class="col-12">
                            <hr class="" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Segment</label>
                                <div class="col-sm-9">
                                    <span>{{:~consultationProfile.segmentName}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Topic</label>
                                <div class="col-sm-9">
                                    <span>{{:~consultationProfile.topic}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group row">
                                <label class="col-sm-3  col-form-label">Objective</label>
                                <div class="col-sm-9">
                                    <span>{{:~consultationProfile.objective}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <hr class="mb-4" />
                        </div>
                        <div class="col-12">
                            <h4 class="text-bold mb-4">Session</h4>
                        </div>
                        <div class="col-12">
                            <div class="form-group row">
                                <label class="col-sm-3  col-form-label">Duration</label>
                                <div class="col-sm-9 col-form-label">
                                    <span>{{:~consultationProfile.duration}} hour(s)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group row">
                                <label class="col-sm-3  col-form-label">Time Zone</label>
                                <div class="col-sm-9 col-form-label">
                                    <span>{{:~consultationProfile.timeZoneName}}</span>
                                </div>
                            </div>
                        </div>
                        {{if selectedJobApplication.appointmentEndDate && selectedJobApplication.appointmentStartDate && (selectedJobApplication.jobApplicationStatus == 4 || selectedJobApplication.jobApplicationStatus == 5)}}
                        <div class="col-12">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Date</label>
                                <div class="col-sm-9 col-form-label">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div>{{:selectedJobApplication.appointmentDateText}}</div>
                                        </div>
                                    </div>
                                </div>
                                <label class="col-sm-3 col-form-label">Appointment Time</label>
                                <div class="col-sm-9 col-form-label">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div>{{:selectedJobApplication.appointmentStartText}} - {{:selectedJobApplication.appointmentEndText}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{if  selectedJobApplication.rescheduleRemarks != null}}
                        <div class="col-12">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Reschedule Remarks</label>
                                <div class="col-sm-9 col-form-label">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div>
                                                {{:selectedJobApplication.rescheduleRemarks}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/if}}
                        {{else !selectedJobApplication.appointmentEndDate && !selectedJobApplication.appointmentStartDate && selectedJobApplication.jobApplicationStatus == 4}}
                        <div class="col-12">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Suggested Appointment Time</label>
                                <div class="col-sm-9 col-form-label">
                                    {{if ~item.consultantAvailableTimeSlots}}
                                    {{for ~item.consultantAvailableTimeSlots}}
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div>{{:startDateText}}</div>
                                        </div>
                                        <div class="col-sm-9">
                                            <div>{{:startTimeText}} - {{:endTimeText}}</div>
                                        </div>
                                    </div>
                                    {{/for}}
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        {{/if}}

                        <div class="col-12">
                            <hr class="mb-4" />
                        </div>
                        <div class="col-12">
                            <h4 class="text-bold mb-4">Replies to screening questions</h4>
                        </div>
                        <div class="col-12">
                            {{for ~item.consultantReplys}}
                            <div class="row mb-2">
                                <div class="col-lg-2">
                                    <label class="col-form-label">Question {{:(#index+1)}}</label>
                                </div>
                                <div class="col-lg-10">
                                    <div class="text-bold mb-3">{{:title}}</div>
                                    <div class="mb-4">{{:answers}}</div>
                                </div>
                            </div>
                            {{/for}}
                        </div>
                        <hr />
                        <div class="col-12">
                            <h4 class="text-bold mb-4">Rate per session</h4>
                        </div>
                        <div class="col-12">
                            <label class="col-form-label">RM {{:~item.ratesPerSession}}</label>
                        </div>
                        {{if ~item.jobApplicationStatus === 5 }}
                        <div class="col-12">
                            <hr class="mb-4" />
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <h4 class="col-sm-6 font-weight-bolder">Payout Request Details</h4>
                                <div class="col-sm-6 text-right">
                                    <input class="btn btn-primary w-auto btn-new-payoutrequest hidden" value="New" type="button"
                                           data-toggle="modal" data-target="#modal-payout-request"
                                           data-keyboard="false" data-backdrop="static"
                                           href="/pro/payoutrequest/0?refId={{:~item.id}}&productTypeId=5" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <table class="table table-bordered table-hover tbl-payout-request">
                                <thead>
                                    <tr>
                                        <th>Submission Date​</th>
                                        <th>Payout Cycle​</th>
                                        <th>Amount​</th>
                                        <th>Status​</th>
                                        <th>Remarks​</th>
                                        <th>Action​</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/if}}

            {{if ~item.jobProfile ~jobProfile=~item.jobProfile}}
            <div class="card card-job-profile">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <div>Organization's information</div>
                            {{if selectedJobApplication.jobApplicationStatus != 11}}
                            <h4 class="text-bold">{{:selectedJobApplication.organizationName}}</h4>
                            {{/if}}
                            {{if selectedJobApplication.jobApplicationStatus == 11}}
                            <h4 class="text-bold">{{:selectedJobApplication.code}}</h4>
                            {{/if}}
                        </div>
                        <div class="col-4 text-right">
                            <div>
                                {{if selectedJobApplication.canCancel == true }}
                                <input type="button" class="btn btn-outline-danger w-auto" value="Cancel"
                                       data-toggle="modal" data-target="#modal-cancel"
                                       data-keyboard="false" data-backdrop="static"
                                       href="/pro/jobapplication/cancel" />
                                {{/if}}

                                {{if selectedJobApplication.jobApplicationStatus === 14 || selectedJobApplication.jobApplicationStatus === 15}}
                                <span class="badge badge-pill badge-gray float-lg-right">Under Consideration</span>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    <hr />
                    <h4 class="text-bold">
                        {{:~jobProfile.jobTitle}}
                    </h4>
                    @*<div class="text-bold text-sm"> ({{:selectedJobApplication.startDateText}} - {{:(selectedJobApplication.endDateText || 'TBC')}})</div>*@
                    {{if selectedJobApplication.jobProfile.jobType == 3}}
                    <div>
                        ({{:selectedJobApplication.startMilestoneText}} - {{:(selectedJobApplication.endMilestoneText || 'TBC')}})
                    </div>
                    <div>Start Date: {{:selectedJobApplication.startDateText}}</div>
                    {{/if}}
                    {^{if (selectedJobApplication.endDateText || selectedJobApplication.endMilestoneText) && selectedJobApplication.cancellationEndRemarks }}
                    <div class="text-bold text-sm">Remarks: {{:selectedJobApplication.cancellationEndRemarks}}</div>
                    {{/if}}
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Category</label>
                        <div class="col-sm-9">
                            <div>{{:~jobProfile.categoryName}}</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Required Skills &amp; Expertises</label>
                        <div class="col-sm-9">
                            {{for ~jobProfile.requiredExpertises}}
                            <span class="badge badge-pill badge-primary-light">{{:name}}</span>
                            {{/for}}
                            <div>
                                <span class="badge badge-pill badge-gray">{{:~jobProfile.preferredExperienceName}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Job Model</label>
                        <div class="col-sm-9">
                            <span>{{:~jobProfile.jobTypeText}}</span>
                        </div>
                    </div>
                    {{if ~jobProfile.jobType != 3}}
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Job Schedule</label>
                        <div class="col-sm-9">
                            <span>{{:~jobProfile.jobScheduleText}}</span>
                        </div>
                    </div>
                    {{/if}}
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Job Site</label>
                        <div class="col-sm-9">
                            {{if ~jobProfile.isOnsite == true}}
                            <span class="badge badge-pill badge-gray">Onsite</span>
                            {{/if}}
                            {{if ~jobProfile.isPartialOnsite == true}}
                            <span class="badge badge-pill badge-gray">Partial onsite</span>
                            {{/if}}
                            {{if ~jobProfile.isRemote == true}}
                            <span class="badge badge-pill badge-gray">Remote</span>
                            {{/if}}
                        </div>
                    </div>
                    {{if ~jobProfile.isOnsite == true || ~jobProfile.isPartialOnsite == true}}
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Location</label>
                        <div class="col-sm-9">
                            <span class='badge badge-pill badge-primary'>{{if ~jobProfile.cityId != null}}{{:~jobProfile.cityName}}{{/if}}{{if ~jobProfile.cityId == null}}All City{{/if}}, {{if ~jobProfile.stateProvinceId != null}}{{:~jobProfile.stateProvinceName}}{{/if}}{{if ~jobProfile.stateProvinceId == null}}All State{{/if}}, {{if ~jobProfile.countryId != null}}{{:~jobProfile.countryName}}{{/if}}{{if ~jobProfile.countryId == null}}All Country{{/if}}</span>
                        </div>
                    </div>
                    {{/if}}
                    {{if ~jobProfile.jobType == 3 &&  ~item.jobMilestones.length > 0}}
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label class="col-form-label">Milestone</label>
                        </div>
                        <div class="col-sm-9">
                            {{for ~item.jobMilestones}}
                            <div class="form-group row">
                                <span class='col-sm-3 badge badge-pill badge-gray h-100 mt-2'>Phase {{:sequence + 1}}</span>
                                <div for="" class="col-sm-6">{{:description}}</div>
                                <div class="col-sm-3">
                                    <div class="">RM {{:amount}}</div>
                                </div>
                            </div>
                            {{/for}}

                        </div>
                    </div>
                    {{/if}}
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Professional Fees</label>
                        <div class="col-sm-9">
                            <span class="">RM {{:~item.payAmount}}</span>&nbsp;
                            <span>
                                {{:~jobProfile.jobPaymentPhaseName}}
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Time Frame</label>
                        <div class="col-sm-9">
                            <span>{{:~jobProfile.jobRequired}}</span>&nbsp;{{:jobRequired}}
                            {{if ~jobProfile.jobType == 1}}
                            hour(s) per week
                            {{/if}}
                            {{if ~jobProfile.jobType == 2}}
                            day(s) per month
                            {{/if}}
                            {{if ~jobProfile.jobType == 3}}
                            month(s)
                            {{/if}}
                            <br />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Start Date</label>
                        {{if ~jobProfile.startDate != null}}
                        <div class="col-sm-9">
                            {{:~jobProfile.startDateText}}
                        </div>
                        {{/if}}
                        {{if ~jobProfile.startDate == null}}
                        <div class="col-sm-9">
                            Immediately
                        </div>
                        {{/if}}
                    </div>


                    {^{if ((~item.jobApplicationStatus == 6 ||  ~item.jobApplicationStatus == 7) && ~item.isEscrow === true) && ~item.depositPayout}}
                    <div class="row">
                        <div class="col-12">
                            <hr class="mb-4" />
                            <h4 class="text-bold">Deposit Payout Details</h4>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Deposit Balance</label>
                                <div class="col-sm-9">
                                    <div class="col-form-label">
                                        RM {{:~item.depositPayout.totalRemaining}}
                                    </div>
                                </div>
                            </div>
                            {{if ~item.jobProfile.jobType !== 3}}

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Cycle Payout</label>
                                <div class="col-sm-9">
                                    <div class="col-form-label">
                                        RM {{:~item.depositPayout.engagementFee.fee}}
                                    </div>
                                </div>
                            </div>

                            {^{if ~item.depositPayout.deposit.nextDueDate}}
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Next Due Date</label>
                                <div class="col-sm-9">
                                    <div class="col-form-label">
                                        {{:~item.depositPayout.deposit.formattedNextDueDate}}
                                    </div>
                                </div>
                            </div>
                            {{/if}}

                            {^{if ~item.depositPayout.deposit.nextStatus}}
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Next Deposit Status</label>
                                <div class="col-sm-9">
                                    <div class="col-form-label">
                                        {{:~item.depositPayout.deposit.nextStatus}}
                                    </div>
                                </div>
                            </div>
                            {{/if}}

                            {{/if}}


                            @*{{if ~item.jobProfile.jobType == 3 && ~item.jobMilestones.length > 0}}
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label class="col-form-label">Milestone</label>
                    </div>
                    <div class="col-sm-9">
                        {{for ~item.jobMilestones}}
                        <div class="form-group row">
                            <span class='col-sm-3 badge badge-pill badge-gray h-100 mt-2'>Phase {{:~sequence + 1}}</span>
                            <div for="" class="col-sm-6">{{:~description}}</div>
                            <div class="col-sm-3">
                                <div class="">RM {{:~amount}}</div>
                            </div>
                        </div>
                        {{/for}}

                    </div>
                </div>
                {{/if}}*@
                        </div>
                    </div>
                    {{/if}}



                    {{if (~item.jobApplicationStatus == 6 ||  ~item.jobApplicationStatus == 7) && ~item.isEscrow === true}}
                    <div class="row">
                        <div class="col-12">
                            <hr class="mb-4" />
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <h4 class="col-sm-6 font-weight-bolder">Payout Request Details</h4>
                                <div class="col-sm-6 text-right">
                                    <input class="btn btn-primary w-auto btn-new-payoutrequest hidden" value="New" type="button"
                                           data-toggle="modal" data-target="#modal-payout-request"
                                           data-keyboard="false" data-backdrop="static"
                                           href="/pro/payoutrequest/0?refId={{:~item.id}}&productTypeId=5" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <table class="table table-bordered table-hover tbl-payout-request">
                                <thead>
                                    <tr>
                                        <th>Submission Date​</th>
                                        <th>Payout Cycle​</th>
                                        <th>Amount​</th>
                                        <th>Status​</th>
                                        <th>Remarks​</th>
                                        <th>Action​</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
            {{/if}}
            {{else}}
            @*show empty*@
            <div class="content-job-invited">
                <div class="card">
                    <div class="card-body text-center">
                        <h4>No application</h4>
                    </div>
                </div>
            </div>
            {{/if}}
            {{/if}}
        </div>
    </div>
</script>
@await Component.InvokeAsync("SimplePagination")

<partial name="../SimpleForm/_Form" />
@section StyleLibs{
    <link href="/lib/fineuploader/fine-uploader.min.css" rel="stylesheet">
    <link href="/lib/the-datepicker/0.7.4/the-datepicker.css" rel="stylesheet" />
    <link href="/lib/select2/css/select2.min.css" rel="stylesheet">
    <link href="/lib/datatables-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="~/lib/tui-calendar/1.13.0/tui-calendar.css" rel="stylesheet" />
    <link href="/lib/dateRangePicker/daterangepicker.css" rel="stylesheet">

}
@section ScriptLibs{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/lib/jsviews/jsviews.min.js"></script>
    <script src="/lib/moment/moment.min.js"></script>

    <script src="/lib/fineuploader/jquery.fine-uploader.min.js"></script>

    <script src="/lib/the-datepicker/0.7.4/the-datepicker.min.js"></script>

    <script src="/lib/select2/js/select2.full.min.js"></script>

    <script src="/lib/datatables/jquery.dataTables.js"></script>
    <script src="/lib/datatables-bs4/js/dataTables.bootstrap4.js"></script>

    <script src="~/lib/chancejs/1.0.13/chance.min.js"></script>
    <script src="https://uicdn.toast.com/tui.code-snippet/v1.5.2/tui-code-snippet.min.js"></script>
    <script src="~/lib/tui-calendar/1.13.0/tui-calendar.js"></script>
    <script src="~/js/pro/scheduler/calendars.js"></script>

    <script src="/lib/decimaljs/10.2.0/decimal.js"></script>
    <script src="/lib/dateRangePicker/daterangepicker.js"></script>
}

@section Scripts{
    <environment include="Development">
        <script src="~/js/pro/simplepagination/simplepagination.js" asp-append-version="true"></script>
        <script src="~/js/pro/job/seeker-counter.js" asp-append-version="true"></script>
        <script src="~/js/pro/scheduler/weeklyscheduler.js" asp-append-version="true"></script>
        <script src="~/js/pro/jobapplication/list.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/pro/simplepagination/simplepagination.es5.min.js" asp-append-version="true"></script>
        <script src="~/js/pro/job/seeker-counter.es5.min.js" asp-append-version="true"></script>
        <script src="~/js/pro/scheduler/weeklyscheduler.es5.min.js" asp-append-version="true"></script>
        <script src="~/js/pro/jobapplication/list.es5.min.js" asp-append-version="true"></script>
    </environment>
}
