@model LicenseModel

@{
    Layout = "_AdminLayout";

    Html.SetActiveMenuItemSystemName("NopStationCore.License");

    ViewBag.PageTitle = T("Admin.NopStation.Core.License").Text;
}

<form asp-controller="NopStationCore" asp-action="License" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.NopStation.Core.License")
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>
    
    <div class="content">
        <div class="form-horizontal">
            @await Component.InvokeAsync("StoreScopeConfiguration")
            <div asp-validation-summary="All"></div>
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-override-store-checkbox asp-for="LicenseString_OverrideForStore" asp-input="LicenseString" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="LicenseString" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="LicenseString" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>