@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body.layout-top-nav {
    background-repeat: no-repeat;
    /*background-image: url(/img/pro/brand/background-purple-wave.png);*/
}

body {
    font-family: 'Poppins', Open Sans;
}

    body.portal {
        background-color: #f4f6f9;
    }

    body.signup {
        /*background-image: url(/img/pro/brand/bg-sign-up.svg);*/
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
    }

    body.splash {
        /*background-image: url(/img/pro/landing/landing-background.svg);*/
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
    }

    body.info {
        /*background-image: url(/img/pro/brand/footer-home.svg);
        background-repeat: no-repeat;
        background-position: bottom;*/
        /*padding-bottom: 1%;*/
    }

    body.vision {
        /*background-image: url(/img/pro/vision/bg-vision.svg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;*/
        /*padding-bottom: 1%;*/
    }

    body.howitwork {
        /*background-image: url(/img/pro/howitwork/bg-tab-1.svg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;*/
        /*padding-bottom: 1%;*/
    }


.txt-version {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: xx-small;
    color: lightgray;
}

.content-wrapper .wrapper {
    background: white !important;
}

html {
    background-color: rgb(249,249,252);
}

.container-vertical-center {
    position: relative;
}

    .container-vertical-center > div {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 0%;
        -ms-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
    }

/*header*/
.header-background-overlay {
    width: 100%;
    padding-top: 22.5%;
    height: 0;
    position: absolute;
    z-index: 0;
    background-color: rgba(0,0,0,0.8);
}

.brand-image {
    width: auto;
    height: 3em !important;
}

.logo-sign-up {
    height: 4em;
}

.logo-landing {
    height: 8em;
}

.account-img {
    width: 2.5em;
}

/*top nav*/
.main-header .nav-link {
    /*color: rgb(255,255,255);*/
}

.main-header .navbar-toggler-icon {
    color: rgb(255,255,255);
}

@media (max-width: 768px) {
    .main-header .navbar-collapse {
        background-color: rgba(0,0,0,0.2);
    }

    .lets-start {
        max-width: 150%;
    }
}

.main-header .navbar-toggler {
    border-width: 0px !important;
    outline: 0 !important;
}

.main-header .nav-link {
    padding: 10px;
}

/*page header*/
.breadcrumb-item + .breadcrumb-item::before {
    content: "-";
    color: rgb(255,255,255);
}

.breadcrumb-item i.fas {
    line-height: 28px;
    padding-right: 15px;
}


/*********** FOOTER ***********/



.footer {
    text-align: center;
}

.footer-upper {
    width: 95%;
    margin: auto;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    padding: 40px 0;
    font-size: 0;
}

.footer-block {
    width: 95%;
    margin: 1px auto;
    text-align: left;
    font-size: 14px; /*reset zeroing*/
}

    .footer-block .title {
        margin: 0 0 1px;
        background: #4ab2f1 url('../images/toggle-white.png') right center no-repeat;
        padding: 10px 15px;
        font-size: 20px;
        color: #fff;
        cursor: pointer;
    }

        .footer-block .title strong {
            font-weight: normal;
        }

    .footer-block .list {
        display: none;
        margin: 0 0 20px;
        background-color: #fff;
        padding: 10px 15px;
    }

        .footer-block .list a {
            display: block;
            padding: 10px 15px;
            line-height: 20px;
        }

            .footer-block .list a:hover {
                color: #4ab2f1;
            }

.follow-us {
    margin: 30px auto 0;
    text-align: center;
}

    .follow-us .title {
        margin: 0 0 10px;
        background: none;
        color: #444;
        cursor: auto;
    }

    .follow-us .social ul {
        margin: 0 0 30px;
        border-bottom: 1px solid #ddd;
        padding: 0 0 30px;
        font-size: 0;
    }

    .follow-us .social li {
        display: inline-block;
        margin: 0 5px;
    }

    .follow-us .social a {
        display: block;
        width: 38px;
        height: 38px;
        background: url('../images/social-sprite.png') no-repeat;
        font-size: 0;
    }

    .follow-us .social .facebook a {
        background-position: 0 0;
    }

    .follow-us .social .twitter a {
        background-position: -38px 0;
    }

    .follow-us .social .rss a {
        background-position: -76px 0;
    }

    .follow-us .social .youtube a {
        background-position: -114px 0;
    }

    .follow-us .social .google-plus a {
        background-position: -152px 0;
    }

.newsletter-email {
    display: inline-block;
    overflow: hidden;
}

    .newsletter-email input[type="email"] {
        float: left;
        width: 180px;
        height: 36px;
        margin: 0 -1px 0 0;
    }

.newsletter-subscribe-button {
    float: left;
    height: 36px;
    border: none;
    background-color: #4ab2f1;
    padding: 0 15px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

    .newsletter-subscribe-button:hover {
        background-color: #248ece;
    }

.newsletter-email .options {
    clear: both;
    padding: 10px 0 0;
}

.newsletter-validation,
.newsletter-result {
    width: 100%;
    overflow: hidden;
    line-height: 28px;
}
/*.newsletter-validation .please-wait {
	display: none !important; 
}*/

.footer-lower {
    width: 95%;
    margin: auto;
    overflow: hidden;
    padding: 25px 0;
    font-size: 12px;
}

.footer-tax-shipping a {
    font-weight: bold;
    color: #4ab2f1;
}

    .footer-tax-shipping a:hover {
        text-decoration: underline;
    }

.footer-powered-by {
    margin: 10px 0 0;
}

    .footer-powered-by a {
        font-weight: bold;
        color: #4ab2f1;
    }

        .footer-powered-by a:hover {
            text-decoration: underline;
        }

.theme-selector {
    margin: 10px 0 0;
}

    .theme-selector select {
        width: 170px;
    }

/*** FOOTER ***/


.footer-block {
    width: 85%;
}

.newsletter-email input[type="text"] {
    width: 240px;
}


/* Dashboard */
.d-card {
    margin-bottom: 10px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;
}

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #495057;
        background-color: #fff;
        border-color: #dee2e6 #dee2e6 #fff;
    }

.dashboard-card-text {
    padding-left: 15px;
    font-size: 20px;
}

.dashboard-card-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*** FOOTER ***/


.footer-block {
    width: 85%;
}

.newsletter-email input[type="text"] {
    width: 240px;
}


/*** FOOTER ***/


.footer-block {
    display: inline-block;
    width: 25.33333%;
    margin: 0 4%;
    vertical-align: top;
}

    .footer-block .title {
        margin: 0 0 15px;
        background: none;
        padding: 0;
        color: #444;
        cursor: auto;
    }

    .footer-block .list {
        display: block !important; /* prevents toggle display:none on resize */
        background: none;
        padding: 0;
    }

        .footer-block .list li {
            padding: 5px 0;
        }

        .footer-block .list a {
            display: inline;
            padding: 0;
        }

.follow-us {
    width: 98%;
    margin: 25px auto 0;
}

/*** FOOTER ***/


.footer-upper {
    width: 980px;
    padding: 35px 10px;
}

    .footer-upper:after {
        content: "";
        display: block;
        clear: both;
    }

.footer-block {
    float: left;
    width: 220px;
    margin: 0;
}

    .footer-block:first-child {
    }

    .footer-block .list {
        margin: 0;
    }

.follow-us {
    float: right;
    width: 300px !important;
    margin: 0;
    text-align: left;
}

    .follow-us .social li {
        margin: 0 10px 0 0;
    }

.newsletter-email {
    display: block;
}

    .newsletter-email input[type="text"] {
        width: 200px;
    }

    .newsletter-email .newsletter-subscribe-button {
        width: 100px;
        padding: 0 5px;
    }

.newsletter-validation .field-validation-valid {
    text-align: left;
}

.footer-lower {
    position: relative;
    width: 980px;
    padding: 25px 5px;
}

    .footer-lower:after {
        content: "";
        display: block;
        clear: both;
    }

.footer-info {
    float: right;
    line-height: 32px;
}

.footer-powered-by {
    float: left;
    margin: 0;
    line-height: 32px;
}

.theme-selector {
    float: left;
    margin: 0 0 0 15px;
}


/*** FOOTER ***/


.footer-upper {
    width: 1200px;
    padding: 35px 30px;
}

.footer-block {
    width: 280px;
}

.footer-lower {
    width: 1200px;
    padding: 25px 20px;
}


/*data table*/
table.dataTable,
.dataTables_scrollHeadInner {
    min-width: 100% !important;
    padding-right: 4px;
}

    table.dataTable.table thead th {
        border-bottom-width: 1px;
        border-top-width: 0;
    }

    table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
        background-color: rgb(0, 0, 0);
    }

    table.dataTable.selectable tbody > tr {
        cursor: pointer;
    }

    /*sorting arrow*/
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting:before {
        margin-right: 3px;
    }

    table.dataTable td {
        vertical-align: top;
    }

    .table-action {
        text-align: center;
        display: block;
    }

div.dataTables_wrapper div.dataTables_filter {
    float: left;
    width: 65%;
}

    div.dataTables_wrapper div.dataTables_filter > label {
        width: 100%;
    }

    div.dataTables_wrapper div.dataTables_filter input {
        margin-left: 0;
        width: 100%;
    }

div.dataTables_wrapper div.dataTables_paginate {
    float: left;
}

div.dataTables_wrapper div.dataTables_length {
    float: right;
    padding-top: 4px;
}

div.dataTables_wrapper div.dataTables_info {
    float: right;
    padding-top: 8px;
    margin-left: 10px;
}

table.dataTable tr td.select-checkbox {
    cursor: pointer;
}

table.dataTable tr.no-select td.select-checkbox:before {
    display: none;
}

table.dataTable tr.selected td.select-checkbox:after {
    margin-left: -10px;
    margin-top: -7px;
    text-shadow: none;
}

table td > table.table-bordered {
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgb(222, 226, 230) !important;
}

/*button*/
.btn {
    border-radius: 8px;
}

.btn-icon {
    border-radius: 6px;
}

.input-group-append .btn {
    min-width: unset;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-icon {
    cursor: pointer;
}

.btn-primary {
    /*background-color: #070707;*/
}

    .btn-primary:hover {
        /*background-color: #1a1a1a;*/
    }


    .btn-primary.disabled, .btn-primary:disabled {
        /*background-color: #070707;*/
        opacity: 0.65;
    }

    .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
    .show > .btn-primary.dropdown-toggle {
        background-color: #070707;
        opacity: 0.65;
    }

/*icheck*/

.icheck-primary > input:first-child:not(:checked):not(:disabled):hover + label::before,
.icheck-primary > input:first-child:not(:checked):not(:disabled):hover + input[type="hidden"] + label::before {
    border-color: #070707;
}

.icheck-primary > input:first-child:checked + label::before,
.icheck-primary > input:first-child:checked + input[type="hidden"] + label::before {
    background-color: #070707;
    border-color: #070707;
}


/*form*/
.input-group .input-group-text,
.input-group .form-control {
    border-radius: 0;
}

textarea {
    min-height: 200px;
}

/*** validator ***/

.validation-summary-errors ul {
    padding: 0;
    margin: 0;
}

input.input-validation-error,
input.input-validation-error:focus,
input.input-validation-error:active,
input.input-validation-error:hover,
select.input-validation-error + .select2-container .select2-selection,
input.input-validation-error + div.dropzone,
textarea.input-validation-error,
.field-validation-error + .input-group .input-group-text {
    border-color: #a94442;
}

.field-validation-valid,
.field-validation-error {
    font-size: 12px;
    min-height: 20px;
    display: none;
}


    .field-validation-error ul {
        list-style: disc;
        margin-bottom: 0 !important;
    }

    .field-validation-error > span > p {
        margin-bottom: 0 !important;
    }

.input-validation-error + * + .field-validation-error,
.input-validation-error + .field-validation-error,
.field-validation-error {
    display: block;
}

/*** date ***/
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input[type="date"]::-ms-clear,
input[type="date"]::-webkit-search-cancel-button {
    display: none;
}

input[type="radio"].radio-checked:checked + span {
    font-weight: bolder;
}

input[type="checkbox"].text-checked:checked + span {
    color: #212529 !important;
}

input[type="checkbox"], .radio label {
    cursor: pointer !important;
    height: 18px !important;
    min-width: 18px !important;
    width: auto !important;
    outline-color: #ced4da;
    vertical-align: middle !important;
}

label.form-check-label {
    height: auto !important;
}

label.form-control {
    font-weight: 400 !important;
}

    label.form-control[placeholder].empty {
        color: rgb(153, 153, 153);
    }
/*.form-group{
    margin-bottom:0;
}*/
/*.form-group > label{
    text-align:right;
}*/
/*input, select, button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */

.select2-container {
    width: 100% !important;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple .select2-selection__clear {
    display: none;
}

.form-control.bootstrap-tagsinput {
    width: auto;
    min-width: 100%;
    height: auto;
}

    .form-control.bootstrap-tagsinput.disabled {
        background-color: #eee;
        cursor: default;
    }

    .form-control.bootstrap-tagsinput .tag.badge {
        font-size: 1em;
        font-family: inherit;
        font-weight: inherit;
    }

    .form-control.bootstrap-tagsinput .tag [data-role="remove"]:after {
        content: "x";
        padding: 0px 2px;
    }

    .form-control.bootstrap-tagsinput.disabled [data-role="remove"],
    .form-control.bootstrap-tagsinput.disabled input {
        display: none;
    }

.datepicker.datepicker-dropdown {
    z-index: 1100 !important;
}

/*Modal*/
.modal.no-title .modal-header [type="button"] {
    padding-top: 0.5em;
    padding-bottom: 0em;
}

.modal.no-title .modal-header {
    border-bottom: none;
}

.modal-footer {
    justify-content: center;
}

.modal.retain-background {
    opacity: 0;
}

.hidden {
    display: none !important;
}

/*layout*/
.mlt-cover {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
}

.ml-n4 {
    margin-left: -1.25rem;
}

.mw-100px {
    max-width: 100px;
}

.opacity-3 {
    opacity: 0.6;
}

/* dropzone */
div.dropzone {
    border-radius: 4px;
    border: 1px solid #ced4da;
    cursor: default;
}

.dropzone .btn,
.dropzone.dz-clickable .btn {
    cursor: pointer;
}

.dropzone .dz-preview {
    margin: 2em 16px;
}

    .dropzone .dz-preview .dz-details .dz-size {
        margin-bottom: 2em;
    }

    .dropzone .dz-preview .dz-remove {
        position: absolute;
        font-size: 0px;
        color: #fff;
        font-weight: bolder;
        width: 20px;
        height: 20px;
        background-color: #ed5565;
        top: -5px;
        right: -5px;
        z-index: 21;
        border-radius: 20px;
        line-height: 20px;
        text-align: center;
        cursor: pointer;
        color: #fff;
        font-family: "Font Awesome 5 Free";
    }

        .dropzone .dz-preview .dz-remove:hover {
            background-color: #ed4758;
            text-decoration: none;
            cursor: pointer;
        }

        .dropzone .dz-preview .dz-remove:before {
            content: "\f00d";
            font-size: 13px;
        }

    .dropzone .dz-preview.dz-image-preview {
        border-radius: 20px;
    }



    /* for dropzone */
    .dropzone .dz-preview.dz-success .dz-success-mark {
        -webkit-animation: fade-in 3s cubic-bezier(0.77, 0, 0.175, 1);
        -moz-animation: fade-in 3s cubic-bezier(0.77, 0, 0.175, 1);
        -ms-animation: fade-in 3s cubic-bezier(0.77, 0, 0.175, 1);
        -o-animation: fade-in 3s cubic-bezier(0.77, 0, 0.175, 1);
        animation: fade-in 3s cubic-bezier(0.77, 0, 0.175, 1);
        opacity: 1;
    }

    /* hide dropzone file progress before start upload */
    .dropzone .dz-preview:not(.dz-processing) .dz-progress,
    .dropzone .dz-file-preview:not(.dz-processing) .dz-progress {
        display: none;
    }

.center {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    max-width: 100%;
}

.ratio-1-1 {
    position: relative;
    padding-top: 100%;
    width: 100%;
    height: 0;
    overflow: hidden;
}

    .ratio-1-1 > * {
        top: 0;
        position: absolute;
    }

.bottom-left {
    bottom: 0;
    left: 0;
}

.profile-img {
    object-fit: contain;
}

/*layout*/
.icon-profile {
    max-width: 100%;
    height: auto;
    padding-top: 100%;
    position: relative;
    background-color: lightgray;
}

    .icon-profile > i {
        color: gray;
        font-size: 44px;
        margin-left: -20px;
        margin-top: -22px;
        position: absolute;
        top: 50%;
        left: 50%;
    }


/* smartphone Device Look */

/* The device with borders */
.look-smartphone {
    position: relative;
    width: 77.9mm;
    height: 143.6mm;
    margin: auto;
    border: 10px black solid;
    border-radius: 15px;
    overflow: hidden;
    overflow-y: scroll;
}
    /* The screen (or content) of the device */
    .look-smartphone .content {
        width: 100%;
        height: 100%;
        padding-bottom: 15px;
        background: white;
        position: relative;
        overflow: auto;
    }

    .look-smartphone .header {
        width: 100%;
        height: 20px;
        background-color: rgb(255,255,255);
    }

    .look-smartphone .content::-webkit-scrollbar {
        width: 5px;
    }

    .look-smartphone .content::-webkit-scrollbar-thumb {
        background: #666;
    }

    .look-smartphone .content::-webkit-scrollbar-track {
        background: transparent;
    }

    .look-smartphone img {
        width: 100%;
    }


/* sortable list */

ul.sortable {
    list-style-type: none;
    padding-left: 0;
}

    ul.sortable > li {
        margin-bottom: 10px;
        font-size: 16px;
        padding: 5px 10px;
        background: #fafafa;
    }

        ul.sortable > li .btn-sort {
            cursor: move;
        }

/*excel button*/
.btn-export {
    width: 150px;
    float: right;
    right: 20px;
    color: white;
    background: none;
    border-radius: 5px;
    padding: 5px;
    border-color: white;
}

/*nav*/
.nav-link > i {
    margin-right: 5px;
}


/*cursor*/
.cursor-pointer:not(.selected) {
    cursor: pointer !important;
}

.cursor-default {
    cursor: default !important;
}

.cursor-not-allowed {
    cursor: not-allowed !important;
}

/* color theme */
.card.selected {
    background-color: rgb(251,240,255);
}

.action-panel {
    display: none;
}

    .action-panel.selected {
        display: block;
    }



/* tui-calendar */
.tui-full-calendar-floating-layer.tui-view-18,
.tui-full-calendar-floating-layer.tui-view-15 {
    position: fixed !important;
    z-index: 1045 !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    background-color: rgba(0,0,0,0.5) !important;
}

    .tui-full-calendar-floating-layer.tui-view-15 .tui-full-calendar-popup {
        position: absolute !important;
        max-width: 500px !important;
        margin: auto !important;
        top: 0 !important;
        left: 0 !important;
        bottom: 0 !important;
        right: 0 !important;
    }

    .tui-full-calendar-floating-layer.tui-view-18 .tui-full-calendar-popup {
        position: relative !important;
        margin: auto !important;
        top: 0 !important;
        left: 0 !important;
        bottom: 0 !important;
        right: 0 !important;
    }

    .tui-full-calendar-floating-layer.tui-view-18 .tui-full-calendar-popup-container,
    .tui-full-calendar-floating-layer.tui-view-15 .tui-full-calendar-popup-container {
        max-width: 500px !important;
        margin: auto !important;
    }

/* badge */
.badge-position-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: absolute;
    right: 0;
}

.badge {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* rating */
.rating {
    background: url('/Themes/DefaultClean/Content/images/rating1.png') repeat-x;
    width: 95px;
    height: 14px;
}

    .rating div {
        background: url('/Themes/DefaultClean/Content/images/rating2.png') repeat-x;
        height: 14px;
    }

.rating-input .fa {
    padding-left: 3px;
    padding-right: 3px;
}

.rating-input {
    cursor: pointer;
}


/* drop down menu */
.dropdown-menu {
    z-index: 1050;
}

.dropdown-menu-lg {
    min-width: 200px !important;
}

/** bootstrap switch **/
.bootstrap-switch .bootstrap-switch-handle-off,
.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-label {
    display: inline-block !important;
}
/*** component ***/
ol, ul {
    list-style: none;
    padding-left: 0;
}

/*** general ***/
.invisible-overlap {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
}

input[type="checkbox"].input-validation-error + span,
input[type="radio"].input-validation-error + span {
    color: red;
}

.line-height-100 {
    line-height: 2em;
}

/*** pagination ***/

.pager {
    margin: 0 0 20px;
}

    .pager ul {
        text-align: left;
        font-size: 0;
        padding-inline-start: 0px;
    }

    .pager li {
        display: inline-block;
        margin: 0 5px;
        vertical-align: top;
    }

        .pager li a,
        .pager li span {
            border-radius: 100%;
            display: block;
            min-width: 35px;
            height: 35px;
            border: 0 solid rgba(0,0,0,.125);
            box-shadow: 0 0 1px rgba(0,0,0,0.13), 0 1px 3px rgba(0,0,0,0.2);
            background-color: #fff;
            padding: 8px;
            text-align: center;
            font-size: 14px; /*reset zeroing*/
            cursor: pointer;
        }

        .pager li.current-page span {
            color: #fff;
            background-color: #380063;
        }

        .pager li span {
            border-color: transparent;
            border-color: #000;
        }

        .pager li.previous-page *,
        .pager li.next-page *,
        .pager li.first-page *,
        .pager li.last-page * {
            background-position: center;
            background-repeat: no-repeat;
            font-size: 0;
            color: #fff;
        }

        .pager li.previous-page * {
            background-image: url(https://static.yadiyad.com/Assets/Images/Pagination/prev.png);
        }

        .pager li.next-page * {
            background-image: url(https://static.yadiyad.com/Assets/Images/Pagination/next.png);
        }

        .pager li.first-page * {
            background-image: url(https://static.yadiyad.com/Assets/Images/Pagination/first.png);
        }

        .pager li.last-page * {
            background-image: url(https://static.yadiyad.com/Assets/Images/Pagination/last.png);
        }

        .pager li a:hover {
            border-color: transparent;
            background-color: #ddd;
        }





/*content*/
.text-img-size {
    height: 2.5em
}

.content-img-size {
    height: 16.5em
}

/*.content-title {
    padding-bottom: 0.25em;
}*/

.home-content-1 {
    border-radius: 25px;
    border: 2px solid #380063;
}

.home-detail-ico {
    height: 4.5em
}

.home-detail-ico-2 {
    height: 3em
}

@media (max-width: 991.98px) {
    .home-detail-ico-2 {
        height: 4.5em
    }
}

.home-detail-ico-3 {
    height: 10.5em
}

.profile-next-ico-1 {
    width: 18px
}

.home-table-header {
    background: #380063;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.home-table-content {
    background: #F1E7E0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media (min-width: 992px) {
    .home-table-content {
        height: 220px;
    }
}

.home-table-content li {
    list-style-type: disc;
}

.group-table-parent {
    background: #F1E7E0;
    border-radius: 25px;
}

.group-table-header {
    background: white;
    border-radius: 10px;
}

#howitwork-tab .nav-link {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #F1E7E0;
}

#howitwork-tab .active {
    background: white;
}

.footer-parent a, .footer-parent div {
    color: white;
}

.img-shrink {
    margin-top: -50px;
    margin-bottom: -50px;
}

.main-footer {
    background-color: #380063;
}





.home-section-background {
    background: #F1E7E0;
}


.hiw1-bg-ico-1 {
    margin-top: -100px;
    margin-bottom: -200px;
}

.hiw1-bg-ico-2 {
    /*margin-top: -100px;*/
    margin-bottom: -200px;
}

.hiw1-bg-ico-3 {
    margin-top: -50px;
    margin-bottom: -10px;
}

.hiw1-bg-ico-4 {
    margin-top: -50px;
    margin-bottom: -10px;
}

.hiw2-bg-ico-1 {
    margin-top: -100px;
    margin-bottom: -200px;
}

.hiw2-bg-ico-2 {
    margin-top: -100px;
    margin-bottom: -200px;
}

.hiw2-bg-ico-3 {
    margin-top: -80px;
    margin-bottom: -100px;
}

.hiw2-bg-ico-4 {
    margin-top: -80px;
    margin-bottom: -10px;
}

.splash-title {
    width: 550px;
    max-width: 75%;
}

.splash-content {
    width: 450px;
    max-width: 75%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: invert(1);
}

.carousel-number {
    color: white;
    background: #380063;
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

/* alert */

.swal-footer {
    text-align: center;
}

.swal-button {
    background-color: #dedede;
    color: #292929;
    font-weight: 400;
    min-width: 12em;
}

    .swal-button:not([disabled]):hover {
        background-color: #380063;
        color: #fff;
    }

.swal-text {
    font-weight: 600;
}

.swal-title {
    color: #380063 !important;
    font-weight: bolder;
    padding-top: 0;
}

.swal-icon--success__ring {
    border: 2px solid #380063 !important;
}

.swal-icon--success__line {
    height: 10px;
    background-color: #380063 !important;
}

.swal-icon:first-child {
    margin-bottom: 0;
}

/* type */

/*h1 {
    color: #380063;
}*/


.topic table {
    width: 100%;
}

.topic div {
    width: 100%;
    overflow: auto;
}

.topic td {
    padding: 4px;
}

/*.account-menu {
    border-bottom: 1px solid #dee2e6;
}*/

.account-menu ul.navbar-nav li.nav-item .nav-link {
    color: #FFFA9A;
    font-weight: 700;
    color: #fff;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
}

    .account-menu ul.navbar-nav li.nav-item .nav-link.active {
        background-color: #FFFA9A;
        color: #000;
    }

@media (min-width: 992px) {
    .account-menu ul.navbar-nav li.nav-item .nav-link {
        width: auto;
        border-top: 2px solid #FFFA9A;
        border-bottom: 2px solid #FFFA9A;
        border-left: 2px solid #FFFA9A;
        border-radius: unset;
    }

    .account-menu ul.navbar-nav li.nav-item:first-child .nav-link {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: unset;
        border-top-right-radius: unset;
    }

    .account-menu ul.navbar-nav li.nav-item:last-child .nav-link {
        border-right: 2px solid #FFFA9A;
        border-bottom-left-radius: unset;
        border-top-left-radius: unset;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light {
    background: none;
}

.yadiyad-footer-logo {
    margin-bottom: 7.96px;
}


.custom-default-font {
    font-size: 1.1rem;
}

@media (max-width: 991.98px) {
    .custom-default-font {
        font-size: 1rem;
    }

    .lets-start {
        max-width: 50%;
    }
}

/*contactus*/
.contactus-border {
    border: 10px solid #F1E7E0;
    border-radius: 10px;
    padding: 24px;
}


.link-ref {
    text-decoration: underline;
}

/*Collapse*/
.btn.btn-collapse {
    width: 12em;
}

/*Bootstrap Modal*/
.vertical-alignment-container {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none; /* This makes sure that we can still click outside of the modal to close it */
}

.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}

.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width: inherit;
    max-width: inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
    height: inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

.home-content-card {
    border-radius: 10px;
    background: #380063;
}

@media (min-width: 992px) {
    .home-content-card {
        margin-top: -100px;
    }
}

.home-content-card h3 {
    min-height: 70px;
}



.home-part-1 {
    background-image: url(https://static.yadiyad.com/Assets/Images/HomeInfo/bg-home-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    min-height: 500px;
}

@media (min-width: 1200px) {
    .home-part-1 > .container {
        max-width: 1180px;
    }
}

.home-part-2 {
    background-color: #7CD8BF;
}

    .home-part-2 .carousel-control-prev, .home-part-2 .carousel-control-next {
        width: initial;
    }

    .home-part-2 .carousel-control-next-icon,
    .home-part-2 .carousel-control-prev-icon {
        filter: none;
    }

@media (min-width: 991.98px) {
    .home-part-3 {
        background-image: url(https://static.yadiyad.com/Assets/Images/HomeInfo/home-individual-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        height: 650px;
        border-radius: 10px;
        padding: 1.5rem;
    }
}

@media (max-width: 992px) {
    .home-main-3 h1 {
        color: #380063 !important;
    }
}

@media (min-width: 991.98px) {
    .home-part-4 {
        background-image: url(https://static.yadiyad.com/Assets/Images/HomeInfo/home-organization-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        height: 600px;
        border-radius: 10px;
    }
}

@media (max-width: 992px) {
    .home-main-4 {
        background: #380063;
    }
}

.text-tertiary {
    color: #7CD8BF;
}

.outline-tertiary {
    border: 2px solid #7CD8BF;
}

.bg-tertiary {
    background-color: #7CD8BF;
}

.bg-bermuda {
    background-color: #7CD8BF;
}

.underline-tertiary {
    border-bottom: 2px solid #7CD8BF;
    width: fit-content;
}

.home-part-5 {
    border: 2px solid #7CD8BF;
    border-radius: 10px;
}

.home-part-6 {
    background-color: #FFFEE0;
}

.background-forth {
    background: #F1E7E0;
}

.circle {
    border-radius: 50%;
}

.smallcard-circle {
    width: 200px;
    height: 200px;
    margin: auto;
}

    .smallcard-circle img {
        margin-top: 20px;
    }

.footer-ico {
    width: 25px;
}


/*individual*/
.individual-banner-btn-1 {
    width: 210px;
}

.individual-sub-card-inner-1 {
    background-image: url(https://static.yadiyad.com/Assets/Images/Individual/individual-2paint.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.individual-sub-card-inner-2 {
    background-color: #FFFEE0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 300px;
}

.individual-sub-card-inner-3 {
    background-image: url(https://static.yadiyad.com/Assets/Images/Individual/individual-3paint.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.individual-sub-card-inner-4 {
    background-color: #380063;
    border-radius: 10px;
    height: 260px;
    padding-top: 35px;
}

.individual-sub-card-inner-5 {
    border: 2px solid #7CD8BF;
    border-radius: 10px;
    height: 170px;
}

.home-individual-1 {
    background-image: url(https://static-stage.yadiyad.com/individual-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% top;
    min-height: 500px;
    padding-top: 100px !important;
}

.home-individual-2 {
    background-color: #380063;
}

.home-individual-3 {
    background-color: #FFFEE0;
}

.home-individual-4 {
    background-color: #7CD8BF;
}


.organization-banner-btn-1 {
    width: 200px;
}

.organization-sub-card-inner-1 {
    background-image: url(https://static.yadiyad.com/Assets/Images/HomeOrganization/organization-2paint.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.organization-sub-card-inner-2 {
    background-color: #FFFEE0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 150px;
}

.organization-sub-card-inner-3 {
    background-image: url(https://static.yadiyad.com/Assets/Images/HomeOrganization/organization-3paint.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.organization-sub-card-inner-4 {
    background-color: #380063;
    border-radius: 10px;
    height: 220px;
    padding-top: 35px;
}

.organization-sub-card-inner-5 {
    border: 2px solid #7CD8BF;
    border-radius: 10px;
    height: 170px;
}

.home-organization-1 {
    background-image: url(https://static.yadiyad.com/Assets/Images/HomeOrganization/organization-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right 25% bottom 95%;
    min-height: 500px;
    padding-top: 100px !important;
}

    .home-organization-1 a {
        width: 250px;
    }

.home-organization-2 {
    background-color: #380063;
}

.home-organization-3 {
    background-color: #FFFEE0;
}

.home-organization-4 {
    background-color: #7CD8BF;
}

.about-banner-btn-1 {
    width: 200px;
}

@media(max-width: 991.98px) {
    .about-sub-card-parent-1 {
        margin-bottom: 1.5rem;
    }
}

@media(min-width: 992px) {
    .about-sub-card-parent-1 {
        padding-right: 0;
    }

    .about-sub-card-parent-2 {
        padding-left: 0;
    }

    .about-sub-card-parent-3 {
        padding-right: 0;
    }

    .about-sub-card-parent-4 {
        padding-left: 0;
    }

    .about-sub-card-inner-1 {
        border-top-left-radius: 10px;
    }

    .about-sub-card-inner-2 {
        border-top-right-radius: 10px;
    }

    .about-sub-card-inner-3 {
        border-bottom-left-radius: 10px;
    }

    .about-sub-card-inner-4 {
        border-bottom-right-radius: 10px;
    }
}



.about-sub-card-inner-1 {
    background-color: #380063;
    height: 300px;
}

.about-sub-card-inner-2 {
    background-image: url(https://static.yadiyad.com/Assets/Images/HomeAboutUs/about-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 300px;
}

.about-sub-card-inner-3 {
    background-image: url(https://static.yadiyad.com/Assets/Images/HomeAboutUs/about-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 300px;
}

.about-sub-card-inner-4 {
    background-color: #380063;
    height: 300px;
}

.home-about-1 {
    background-image: url(https://static.yadiyad.com/Assets/Images/HomeAboutUs/about-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 15%;
    min-height: 500px;
    padding-top: 100px !important;
}

.home-about-2 {
    background-color: #7CD8BF;
}


.landing-subcard-1 {
    background-image: url(https://static.yadiyad.com/Assets/Images/Landing/landing-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height: 500px;
}

.landing-subcard-link-1, .landing-subcard-group-1 {
    height: 100%;
    width: 100%;
    display: block;
    margin-left: -7.5px;
    margin-right: -7.5px;
    position: absolute;
}

.landing-subcard-1:hover .landing-subcard-inner-item {
    display: block;
}

.landing-subcard-1:hover .landing-subcard-link-1 {
    background-color: #380063;
    opacity: 0.5;
}

.landing-subcard-2:hover .landing-subcard-inner-item {
    display: block;
}

.landing-subcard-2:hover .landing-subcard-link-1 {
    background-color: #380063;
    opacity: 0.5;
}

.landing-subcard-2:hover .landing-subcard-inner-item {
    display: block;
}

@media(max-width: 768px) {
    .landing-subcard-1 .landing-subcard-inner-item {
        display: block;
    }

    .landing-subcard-1 .landing-subcard-link-1 {
        background-color: #380063;
        opacity: 0.5;
    }

    .landing-subcard-2 .landing-subcard-inner-item {
        display: block;
    }

    .landing-subcard-2 .landing-subcard-link-1 {
        background-color: #380063;
        opacity: 0.5;
    }

    .landing-subcard-2 .landing-subcard-inner-item {
        display: block;
    }
}

.landing-subcard-2 {
    background-image: url(https://static.yadiyad.com/Assets/Images/Landing/landing-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height: 500px;
}

.landing-subcard-inner-1 {
    height: 350px;
    z-index: 100;
}

.landing-subcard-inner-item {
    display: none;
}

.landing-subcard-label-1 {
    border-radius: 10px;
    display: inline-block;
    z-index: 100;
}

@media(max-width: 768px) {
    .custom-navbar {
        background-color: #FFFEE0 !important;
    }
}


/*sticky navbar*/
/* Style the navbar */
#navbar {
    background-color: white;
    font-size: 1.1rem;
}

.account-menu .navbar {
    font-size: 1.1rem;
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.home-part-first {
    margin-top: 86px;
}

@media(max-width: 1200px) {
    .home-part-first {
        margin-top: 146px !important;
    }
}


/*@media(max-width: 768px) {
    .home-organization-1, .home-about-1, .home-part-1, .home-individual-1, .service-part-1 {
        margin-top: 275px !important;
    }
}*/

body.comingsoon {
    background-image: url(/img/pro/comingsoon/comingsoon-1.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.shadow-coming-soon {
    background-color: #380063;
    opacity: 0.8;
    height: 100%;
    width: 100%;
    position: absolute;
}

.logo-coming-soon {
    max-height: 200px;
    max-width: 100%;
}

.slogan-coming-soon {
    background: #FFFA9A;
}

.text-coming-soon {
    margin: 80px 0 80px 0;
}

    .text-coming-soon div {
        font-size: 50px;
    }

.content-coming-soon {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
}

body.info, body.info .btn {
    font-size: 1.1rem;
}

.home-service-card-content-1 {
    height: 100px;
}

.section-buy-service {
    background-color: #FFFEE0;
}

.sub-card-inner-ico-1 {
    width: 120px;
}

.service-part-1 {
    background-color: #FFFA9A;
    min-height: 300px;
    padding-top: 100px !important;
}

.service-inner-1 {
    background-color: #FFFA9A;
    border-radius: 10px;
}

.service-nav-link.active {
    color: initial !important;
    background: white !important;
}

.service-tab-pane {
    background: white !important;
}

.service-part-3 {
    background-color: #7CD8BF;
}

/* tui-full-calendar */
.tui-full-calendar-compact-header .tui-full-calendar-week-container .tui-full-calendar-dayname {
    line-height: normal !important;
}


.tui-full-calendar-compact-header .tui-full-calendar-week-container .tui-full-calendar-dayname-container {
    height: 60px !important;
}

.tui-full-calendar-compact-header .tui-full-calendar-week-container .tui-full-calendar-dayname {
    padding-top: 4px;
}

.tui-full-calendar-compact-header .tui-full-calendar-week-container .tui-full-calendar-dayname-date,
.tui-full-calendar-compact-header .tui-full-calendar-week-container .tui-full-calendar-dayname-name {
    display: block !important;
    text-align: center;
}

.tui-full-calendar-weekday .tui-full-calendar-week-container .tui-full-calendar-dayname-date {
    display: none !important;
}

.tui-full-calendar-weekday .tui-full-calendar-week-container .tui-full-calendar-dayname-name {
    font-size: 24px;
    vertical-align: middle;
}

.tui-full-calendar-weekday .tui-full-calendar-date {
    display:none;
}

.tui-full-calendar-popup-edit {
    display: none;
}

/*googletranslate*/
.goog-te-gadget img, .goog-te-gadget span {
    display: none;
}

.goog-te-gadget-simple {
    height: 40px;
    width: 40px;
    background-image: url(https://static.yadiyad.com/Assets/Icons/ico-google-translate.webp);
    background-position: center;
    background-size: contain;
    border: none !important;
    margin: 10px;
}

.goog-te-gadget {
    height: 40px;
    width: 40px;
    background-image: url(https://static.yadiyad.com/Assets/Icons/ico-google-translate.webp);
    background-position: center;
    background-size: contain;
    border: none !important;
    margin: 10px;
    font-size: 0 !important;
}

.goog-te-combo {
    opacity: 0;
    width: 50px;
    height: 50px;
}

.goog-te-button {
    display: none !important;
}

.goog-tooltip {
    display: none !important;
}

.skiptranslate + #navbar {
    top: 40px;
}

.skiptranslate[style*="display: none;"] + #navbar {
    top: 0px !important;
}

.skiptranslate + #navbar + .wrapper .home-part-first {
    margin-top: 86px !important;
}

.skiptranslate[style*="display: none;"] + #navbar + .wrapper .home-part-first {
    margin-top: 86px !important;
}

@media (max-width: 1200px) {
    .skiptranslate + #navbar + .wrapper .home-part-first {
        margin-top: 120px !important;
    }

    .skiptranslate[style*="display: none;"] + #navbar + .wrapper .home-part-first {
        margin-top: 146px !important;
    }
}

@media (max-width: 1199.98px) {

    #navbar > .container {
        display: block;
    }

    #navbar .navbar-brand {
        text-align: center;
        width: 100%;
    }
}

.navbar-no-expand {
    display: flex;
    justify-content: space-around;
}

.service-list-icos {
    height: 30px;
    width: 30px;
    position: absolute;
}

.home-master-txt-1 {
    font-size: 48px;
    line-height: 48px;
}

.btn-home-browse-all {
    width: 240px;
}

#section-sell-service, #section-seek-consultation {
    background: white;
}

#signUpAs {
    text-decoration: underline;
}


.topic a, .underline-href {
    text-decoration: underline;
}

@media (min-width: 576px) {
    .job-search-content-right {
        text-align: right;
    }
}

.text-underline {
    text-decoration: underline;
}

.card-service-profile-simple, .card-job-profile-simple {
    background-color: #f4f6f9;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }


.icon-attention {
    color: #ff0000;
    font-size: 0.5em;
    vertical-align:middle;
}