@using YadiYad.Pro.Web.Enums
<div class="row align-items-center mb-4 mt-4 partial-header">
    <div class="col-lg-4 col-sm-12" style="margin-bottom:15px;">
        <partial name="../Account/_AccountInfo" />
    </div>
</div>
