@model DisputeSubmitModel
@inject IPictureService pictureService

@using Nop.Core;
@using Nop.Services.Media
@using Nop.Web.Framework.UI;

@{
        foreach (var item in Model.SellerPictureIds)
        {
            var picture = pictureService.GetPictureById(item.PictureId);
            var pictureUrl = pictureService.GetPictureUrl(ref picture);
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div style="clear: both;">
                                        <div class="d-inline-block mr-5 mt-2">
                                            <div>
                                                <img class="preview-img" src="@pictureUrl" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    }
}
