@model DisputeSubmitModel
@inject IDownloadService downloadService

@using Nop.Core;
@using Nop.Services.Media
@using Nop.Web.Framework.UI;

@{
    foreach (var item in Model.CustomerPictureIds)
    {
        var download = downloadService.GetDownloadById(item.PictureId);
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div style="clear: both;">
                                        <div class="d-inline-block mr-5 mt-2">
                                            @if (download != null)
                                            {
                                                if (download.ContentType.Contains("image"))
                                                {
                                                    <div>
                                                        <img class="preview-img" src="@(Url.Content("~/api/pro/Document?downloadGuid="+download.DownloadGuid))" />
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    }
}
