
<div class="content content-acceptjob">
    <form class="p-4 form-accept-job">
        <h4 class="text-primary text-center text-bold">Accept Job Invitation</h4>
        @*<div class="form-group row">
            <label for="" class="col-sm-12 col-form-label">Cover Letter</label>
            <div class="col-sm-12">
                <textarea class="form-control"
                          name="note" required>
                </textarea>
            </div>
        </div>*@
        <div class="form-group row">
            <div class="col-sm-12">
                <div class="radio d-inline-block mr-3">
                    <label class="col-form-label form-check-label">
                        <input type="checkbox" name="isEscrow">
                        Opt in for Escrow payment
                    </label>
                    <span>@T("Pro.Job.Apply.OptInEscrow.Help")</span>
                </div>
            </div>
        </div>
        <input class="btn btn-primary w-100 btn-accept" type="submit" value="Accept" />
    </form>
</div>

<environment include="Development">
    <script src="~/js/pro/jobInvitation/accept.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/pro/jobInvitation/accept.es5.min.js" asp-append-version="true"></script>
</environment>
