@using YadiYad.Pro.Core.Domain.Common

<div class="content content-service-profile">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Category</label>
                            <div class="col-sm-9">
                                <label class="col-form-label" text="{{categoryName}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Years of Experience</label>
                            <div class="col-sm-9">
                                <label class="col-form-label" text="{{experienceYearName}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Expertise</label>
                            <div class="col-sm-9 area-expertise">
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <hr class="mb-4" />
                    </div>
                    <div class="col-12">
                        <h5>Service Model &amp; Site</h5>
                    </div>
                    <div class="col-12">
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Service Model</label>
                            <div class="col-sm-9">
                                <label class="col-form-label" text="{{serviceTypeName}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Service Site</label>
                            <div class="col-sm-9">
                                <label class="col-form-label" text="{{serviceModelName}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Location</label>
                            <div class="col-sm-9 area-location">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 hidden form-group-charges">
                        <hr class="mb-4" />
                    </div>
                    <div class="col-12 hidden form-group-charges">
                        <h5>Professional Fees</h5>
                    </div>
                    <div class="col-12 hidden form-group-consultation">
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Consultation</label>
                            <div class="col-sm-9">
                                RM <label class="col-form-label" text="{{consultationCharges}}"></label> per session
                            </div>
                        </div>
                    </div>
                    <div class="col-12 hidden form-group-freelancing">
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Freelance (Hourly)</label>
                            <div class="col-sm-9">
                                RM <label text="{{freelancingCharges}}"></label> per hour
                            </div>
                        </div>
                    </div>
                    <div class="col-12 hidden form-group-freelancing">
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Additional Onsite Fees</label>
                            <div class="col-sm-9">
                                RM <label class="col-form-label" text="{{onsiteCharges}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 hidden form-group-part-time">
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Freelance (Daily)</label>
                            <div class="col-sm-9">
                                RM <label class="col-form-label" text="{{partTimeCharges}}"></label> per day - 8 hours a day
                            </div>
                        </div>
                    </div>
                    <div class="col-12 hidden form-group-freelancing form-group-part-time">
                        <hr class="mb-4" />
                    </div>
                    <div class="col-12 hidden form-group-freelancing form-group-part-time">
                        <h5>Availability</h5>
                    </div>
                    <div class="col-12 hidden form-group-freelancing">
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Availability</label>
                            <div class="col-sm-9">
                                <label class="col-form-label" text="{{freelancingAvailability}}"></label> hours per day
                            </div>
                        </div>
                    </div>
                    <div class="col-12 hidden form-group-part-time">
                        <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Availability</label>
                            <div class="col-sm-9">
                                <label class="col-form-label" text="{{partTimeAvailability}}"></label> days per week
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row  justify-content-md-center">
            <div class="col-12 text-center">
                <button class="btn btn-primary btn-edit">Edit Profile</button>
            </div>
            <div class="col-12">
                <br />
            </div>
        </div>
    </div>
</div>

<partial name="_FormComponent" />

@section StyleLibs{
    <link href="~/lib/bootstrap-datePicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="/lib/select2/css/select2.min.css" rel="stylesheet">

}
@section ScriptLibs{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="/lib/moment/moment.min.js"></script>
    <script src="/lib/select2/js/select2.full.min.js"></script>
    <script src="~/lib/bootstrap-datePicker/js/bootstrap-datepicker.min.js"></script>
}

@section Scripts{
    <environment include="Development">
        <script src="~/js/pro/service/index.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/pro/service/index.es5.min.js" asp-append-version="true"></script>
    </environment>
}