<!-- Navbar -->
<nav class="navbar navbar-expand-md">
    <div class="container">
        <a href="/" class="navbar-brand">
            <img src="~/img/pro/brand/logo.svg" alt="YadiYad Pro Logo" class="brand-image" />
        </a>

        <a href="/pro/account/login" class="btn btn-primary btn-edit">Sign In</a>

    </div>
</nav>
<!-- /.navbar -->