@model ModalHeaderModel

    <div class="modal-header">
        <h4 class="modal-title">@Html.Raw(Model.Heading)</h4>        
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>