<nav id="navbar" class="main-header navbar navbar-expand-md">
    <div class="container">
        <a href="/pro/home/info" class="navbar-brand">
            <img src="~/img/pro/brand/logo-pro-filled.png" alt="YadiYad Pro Logo" class="brand-image" />
        </a>
        <partial name="~/Areas/Pro/Views/Shared/_RightTopNavbarLink.cshtml" />
    </div>
</nav>