@using YadiYad.Pro.Core.Domain.Consultation

<div class="content content-consultation-profile">
    <div class="container">
        <form method="post" id="form-consultation-profile" role="form" action="/api/pro/consultation/{{id}}" form-validation-alert>
            <h1 class="text-center lbl-page-title"></h1>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 form-group row">
                            <label for="" class="col-sm-3 col-form-label">Category</label>
                            <div class="col-sm-9">
                                <select class="form-control select2 select" required
                                        name="categoryId" textName="categoryName"
                                        placeholder="Category"
                                        data-sourceurl="/api/pro/source/jobservicecategory"
                                        data-id="id" data-text="name">
                                </select>
                            </div>
                        </div>
                        <div class="col-12 form-group row">
                            <label for="" class="col-sm-3 col-form-label">Expertise</label>
                            <div class="col-sm-9">
                                <select class="form-control select2 select"
                                        name="consultationExpertises"
                                        placeholder="Expertise" multiple="multiple"
                                        data-dependent="categoryId:categoryId"
                                        data-sourceurl="/api/pro/source/expertise"
                                        data-id="id" data-text="name"
                                        data-mode-expertiseId="expertiseId">
                                </select>
                            </div>
                        </div>
                        <div class="col-12 form-group row">
                            <label for="" class="col-sm-3 col-form-label">Years of Experience</label>
                            <div class="col-sm-9">
                                <select class="form-control select2 select" required
                                        name="yearExperience" textName="experienceYearName"
                                        placeholder="Years of Experience"
                                        data-sourceurl="/api/pro/source/experienceYear"
                                        data-id="id" data-text="name">
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <hr class="mb-4" />
                        </div>
                        <div class="col-12">
                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Segment</label>
                                <div class="col-sm-9">
                                    <select class="form-control select2 select"
                                            name="segmentId" textName="segmentName"
                                            placeholder="Segment"
                                            data-sourceurl="/api/pro/source/businessSegment"
                                            data-id="id" data-text="name" required>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Topic</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" maxlength="255" name="topic" required placeholder="Topic" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Objectives</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" name="objective" maxlength="2000" placeholder="Objective" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <hr class="mb-4" />
                        </div>
                        <div class="col-12">
                            <h5>Session</h5>
                        </div>
                        <div class="col-12">
                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Time Zone</label>
                                <div class="col-sm-9">
                                    <select class="form-control select2 select"
                                            name="timeZoneId" textName="timeZoneName"
                                            placeholder="Time Zone"
                                            data-sourceurl="/api/pro/source/timezone"
                                            data-id="id" data-text="name" required disabled>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Duration</label>
                                <div class="col-sm-3">
                                    <input type="number" class="form-control" name="duration" required placeholder="Duration" min="1" max="2" step="0.5" pattern="\d+" />
                                </div>
                                <div class="col-sm-3 form-group-projectbased">
                                    hour(s)
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <label>Time Slots</label>
                            <input type="hidden" name="schedule" required />
                            <p class="text-muted"><i>Please state your available slots for the session. You are encouraged to select more slots to provide more options for the consultant. After you have confirmed a consultant, a moderator will coordinate with both sides to confirm the exact session date and time.</i></p>

                        </div>
                        <div class="col-12">
                            <div class="border border-top-0 tui-full-calendar-compact-header tui-full-calendar-weekday " id="calendar">
                            </div>
                        </div>
                        <div class="col-12">
                            <hr class="mb-4" />
                        </div>
                        <div class="col-12">
                            <h5 class="text-bold">Screening Questionnaire</h5>
                        </div>
                        <div class="col-12">
                            <p class="text-muted"><i>Please create your candidate screening questionnaire (max 5 questions):</i></p>
                        </div>
                        <div class="col-12">
                            <div id="content-form-design"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row  justify-content-md-center">
                <div class="col-12 area-agreement">
                    <div class="form-group row">
                        <div class="col-sm-12 text-center">
                            <div class="radio d-inline-block mr-4">
                                <label class="col-form-label form-check-label">
                                    <input type="checkbox" name="agreement" required>
                                    <span>I acknowledge that I have read and agreed to be bound by the terms and conditions in the <a class="btn-link text-primary text-bold" target="_blank" href="/terms-of-service">"Terms of Service" </a> and <a class="btn-link text-primary text-bold" target="_blank" href="/consultation-guidelines-and-terms">"Consulting Guidelines and Terms" </a>.</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <input type="hidden" name="id" value="0" />

                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-cancel" href="/pro/consultation/list">Cancel</a>
                </div>
                <div class="col-12">
                    <br />
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_FormComponent" />
<partial name="../SimpleForm/_FormSchema" />

@section StyleLibs{
    <link href="~/lib/bootstrap-datePicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="/lib/select2/css/select2.min.css" rel="stylesheet">
    <link href="~/lib/tui-calendar/1.13.0/tui-calendar.css" rel="stylesheet" />
}
@section ScriptLibs{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/lib/jsviews/jsviews.min.js"></script>
    <script src="/lib/moment/moment.min.js"></script>
    <script src="/lib/select2/js/select2.full.min.js"></script>
    <script src="~/lib/bootstrap-datePicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/chancejs/1.0.13/chance.min.js"></script>
    <script src="https://uicdn.toast.com/tui.code-snippet/v1.5.2/tui-code-snippet.min.js"></script>
    <script src="~/lib/tui-calendar/1.13.0/tui-calendar.js"></script>
    <script src="~/js/pro/scheduler/calendars.js"></script>

    <script src="/lib/decimaljs/10.2.0/decimal.js"></script>
}

@section Scripts{
    <environment include="Development">
        <script src="~/js/pro/simpleform/simpleform.js" asp-append-version="true"></script>
        <script src="~/js/pro/scheduler/weeklyscheduler.js" asp-append-version="true"></script>
        <script src="~/js/pro/consultation/details.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/pro/simpleform/simpleform.es5.min.js" asp-append-version="true"></script>
        <script src="~/js/pro/scheduler/weeklyscheduler.es5.js" asp-append-version="true"></script>
        <script src="~/js/pro/consultation/details.es5.min.js" asp-append-version="true"></script>
    </environment>
}