@{
    ViewData["Layout"] = "Home";
    ViewData["Theme"] = "vision";
}

<div class="content">
    <div class="container">
        <div class="text-center">
            <h2 class="mt-5 text-center text-primary text-bold content-title d-inline-block">Frequently Asked Questions (FAQ)</h2>
            <div class="mb-5 text-center">Updated 25 March 2021</div>
        </div>
        <div class="row">
            <div class="col-lg-4 mb-5">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Account and Profile</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Buying Services</a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Selling Services</a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Fees, Payment and Refund</a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="text-bold mb-2">
                                    How do I get started?
                                </div>
                                <div class="mb-5">
                                    Click on 'Sign Up'. then create an account with your email address. To setup your profile, go to 'Create Profile' and enter your details in the fields, then click 'Submit'
                                </div>
                                <div class="text-bold mb-2">
                                    How do I edit my profile?
                                </div>
                                <div class="mb-5">
                                    Go to 'Edit' and modify the fields your details as required, then click 'Submit'.
                                </div>
                                <div class="text-bold mb-2">
                                    What if I forgot my password?
                                </div>
                                <div class="mb-5">
                                    Click on 'Forgot password' and a link would be sent to your email to reset the password.
                                </div>
                                <div class="text-bold mb-2">
                                    Can I set my account status as offline / online?
                                </div>
                                <div class="mb-5">
                                    Yes, after loggin in, go to Account, then select 'Offline'. By going Offline, your profile will not be searchable or viewable by other users. Click on the link and follow the instructions.
                                </div>
                                <div class="text-bold mb-2">
                                    Do I need to pay to setup an account?
                                </div>
                                <div class="mb-5">
                                    No, registration is free  which means you do not need to pay anything to setup an account.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="text-bold mb-2">
                                    How do I hire a jobseeker?
                                </div>
                                <div class="mb-5">
                                    First create a job ad profile and list your requirements (expert list, job model, location etc). Then search for the freelance jobseekers according to the job ad requirement. When you have shortlisted the jobseekers, you may send an 'invitation to apply' to the jobseekers. The jobseeker may accept or reject the invitation. After the payment is made for full profile viewing, you are able to access the jobseeker's profile after they have submitted the applications.
                                </div>
                                <div class="text-bold mb-2">
                                    How long is the validity for job advertisement?
                                </div>
                                <div class="mb-5">
                                    When you post a job advertisement, it will remain online for 30 days.
                                </div>
                                <div class="text-bold mb-2">
                                    Hong long can I access the jobseeker profile?
                                </div>
                                <div class="mb-5">
                                    You are able to access the jobseeker full profile within 30 days from the date payment is made.
                                </div>
                                <div class="text-bold mb-2">
                                    How do I hire a service seller?
                                </div>
                                <div class="mb-5">
                                    Search for service sellers according to your criterias (expert list, job model, location etc). When you have selected the seller you wish to hire, you may send a hiring request to the seller and state your service start date. The service seller will either accept, reject or repropose the service start date. When the start date is confirmed by your chosen seller, you may proceed to make the required payment. After the payment is made, you are able to access the seller's contact details and you may directly liaise with the seler.
                                </div>
                                <div class="text-bold mb-2">
                                    How do I cancel after making the payment to hire the seller?
                                </div>
                                <div class="mb-5">
                                    For cancellation after making the payment to hire the seller, you would need to get in youch with us via 'Contact Us' and provide your particulars and reasons for cancellation. Please refer to 'Fees, Payment and Refund' for further information on refund.
                                </div>
                                <div class="text-bold mb-2">
                                    How do provide feedback regarding the service I received?
                                </div>
                                <div class="mb-5">
                                    Click on 'Reviews' to provide your comments, feedback or suggestions specific to the service you hired. Comments are subjected to our 'Terms of Service' policy.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="text-bold mb-2">
                                    How do I become a service seller?
                                </div>
                                <div class="mb-5">
                                    To sell on Yadiyad, first you need to setup a profile. Please refer to 'How It Works' and 'Account and Profile' for questions on setting up an account.
                                </div>
                                <div class="text-bold mb-2">
                                    How do I respond to a hiring request from a serviec buyer?
                                </div>
                                <div class="mb-5">
                                    When a potential buyer sends  you a hiring requests, you have options to accept, decline or repropose the start date. Please onte that you can only repropose the start date one time.
                                </div>
                                <div class="text-bold mb-2">
                                    How do I cancel after the buyer has make the payment?
                                </div>
                                <div class="mb-5">
                                    For cancellation after the buyer has made the payment, you would need to get in touch with us via 'Contact us', and provide your particulars and reasons for cancellation. Please refer to 'Fees, Payment and Refund' for further information.
                                </div>
                                <div class="text-bold mb-2">
                                    Can I set my account status as offline/online?
                                </div>
                                <div class="mb-5">
                                    Yes, after logging in, go to Account, then select 'Offline'. By going Offline, your profile will not be searchable or viewable by any service buyer.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="text-bold mb-2">
                                    What fees does Yadiyad charge?
                                </div>
                                <div class="mb-5">
                                    basiclly we charge one time matching fees for buyers and one time commission fees for sellers. For full list of the charges, please refer to 'Fees and Refund'.
                                </div>
                                <div class="text-bold mb-2">
                                    As a service seller, how do I get paid?
                                </div>
                                <div class="mb-5">
                                    You have a choice to opt in to escrow payment or receive payment directly from the service buyer. With escrow you are assured of payment in due time, along with a host of other benefits. Please see 'Fee and Refund' section for more details on escrow payment option.
                                </div>
                                <div class="text-bold mb-2">
                                    As a service buyer, how do I pay the service seller?
                                </div>
                                <div class="mb-5">
                                    If your seller chooses to opt in for escrow payment, you can pay the service seller via Yadiyad. Payment is collected 7 days in advance before the payment is due to the seller. Payment will be transferred to the seller after you have acknowledge that services have been rendered satisfactorily.
                                </div>
                                <div class="text-bold mb-2">
                                    What payment option do you accept?
                                </div>
                                <div class="mb-5">
                                    we accept the following payment options: FPX (online banking) and eWallets (Boost, Touch n Go, GrabPay, Maybank QR, MCash and Shopee Pay).
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>



@*@section ScriptLibs{
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
    @section Scripts{
        <environment include="Development">
            <script src="~/js/pro/account/signin.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="~/js/pro/account/signin.es5.min.js" asp-append-version="true"></script>
        </environment>
    }*@