@{
    ViewData["Layout"] = "Home";
    ViewData["Theme"] = "howitwork";
}

<div class="text-center">
    <h2 class="mt-5 mb-5 text-center text-primary text-bold">How It Works</h2>
</div>
<nav>
    <div class="nav nav-tabs justify-content-center" id="howitwork-tab" role="tablist">
        <a class="pl-5 pr-5 nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-1" role="tab" aria-controls="nav-home" aria-selected="true"><h4 class="text-bold text-center text-primary">For Service Buyer</h4></a>
        <a class="pl-5 pr-5 nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-2" role="tab" aria-controls="nav-profile" aria-selected="false"><h4 class="text-bold text-center text-primary">For Service Seller</h4></a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-lg-6 text-right d-none d-xl-block d-lg-block">
                                <img class="w-75" src="~/img/pro/howitwork/img-tab-1-org.png" />
                            </div>
                            <div class="col-lg-6 text-left mt-5 d-flex align-items-center">
                                <div>
                                    <h2 class="text-bold text-primary">Organization</h2>
                                    <h4 class="text-bold text-primary">(Offering Jobs)</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4 ">

                            </div>
                            <div class="col-lg-4 text-center mt-5 d-flex align-items-center">
                                <h4 class="text-bold">
                                    Non-Consultation Job
                                </h4>
                            </div>
                            <div class="col-lg-4 text-left d-none d-xl-block d-lg-block">
                                <img class="home-detail-ico-3 hiw1-bg-ico-1" src="~/img/pro/howitwork/ico-non.svg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="carousel-non-consultation" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-6 text-right">
                                            <img class="w-100 img-shrink" src="/img/pro/howitwork/screenshot-buyer/img-non-1.png" />
                                        </div>
                                        <div class="col-lg-6 text-left d-flex align-items-center">
                                            <div>
                                                <div class="carousel-number d-inline-block">1</div><h4 class="text-bold text-primary d-inline-block">Create your job ad</h4>
                                                <div class="">List your expected experience, skills and expertise, job model, location and salary. Then search for potential freelancers right away.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-6 text-right">
                                            <img class="w-100 img-shrink" src="/img/pro/howitwork/screenshot-buyer/img-non-2.png" />
                                        </div>
                                        <div class="col-lg-6 text-left d-flex align-items-center">
                                            <div>
                                                <div class="carousel-number d-inline-block">2</div><h4 class="text-bold text-primary d-inline-block">Pay for profile viewing and invite</h4>
                                                <div class="">
                                                    Pay to view full jobseeker profiles and send invitation to apply.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-6 text-right">
                                            <img class="w-100 img-shrink" src="/img/pro/howitwork/screenshot-buyer/img-non-3.png" />
                                        </div>
                                        <div class="col-lg-6 text-left d-flex align-items-center">
                                            <div>
                                                <div class="carousel-number d-inline-block">3</div><h4 class="text-bold text-primary d-inline-block">Hire which way you want</h4>
                                                <div class="">
                                                    You can contact the jobseekers directly or shortlist and hire through Yadiyad for tracking purposes.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-6 text-right">
                                            <img class="w-100 img-shrink" src="/img/pro/howitwork/screenshot-buyer/img-non-4.png" />
                                        </div>
                                        <div class="col-lg-6 text-left d-flex align-items-center">
                                            <div>
                                                <div class="carousel-number d-inline-block">4</div><h4 class="text-bold text-primary d-inline-block">Escrow option</h4>
                                                <div class="">Securely pay the sellers after completion of services at each milestone.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carousel-non-consultation" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-non-consultation" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="content">
            <div class="container">
                <div class="row mt-5">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-lg-4 text-center d-none d-xl-block d-lg-block">
                                <img class="home-detail-ico-3 hiw1-bg-ico-2" src="~/img/pro/howitwork/ico-cons.svg" />
                            </div>
                            <div class="col-lg-4 text-center mt-5 d-flex align-items-center">
                                <h4 class="text-bold">
                                    Consultation Sessions
                                </h4>
                            </div>
                            <div class="col-sm-4 ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="carousel-consultation" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="content">
                        <div class="container">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-lg-6 text-left d-flex align-items-center">
                                        <div>
                                            <div class="carousel-number d-inline-block">1</div><h4 class="text-bold text-primary d-inline-block">Create your consultation ad</h4>
                                            <div class="">List your segment, topic and screening questions. Then search for potential consultants right away.</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 text-left">
                                        <img class="w-100 img-shrink" src="/img/pro/howitwork/screenshot-buyer/img-cons-1.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="content">
                        <div class="container">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-lg-6 text-left d-flex align-items-center">
                                        <div>
                                            <div class="carousel-number d-inline-block">2</div><h4 class="text-bold text-primary d-inline-block">Pay for profile viewing and invite</h4>
                                            <div class="">
                                                Pay to view consultant profiles and send invitation to apply.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 text-left">
                                        <img class="w-100 img-shrink" src="/img/pro/howitwork/screenshot-buyer/img-cons-2.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="content">
                        <div class="container">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-lg-6 text-left d-flex align-items-center">
                                        <div>
                                            <div class="carousel-number d-inline-block">3</div><h4 class="text-bold text-primary d-inline-block">Pay and hire</h4>
                                            <div class="">Pay the upfront service and commission fees to secure the consultant.</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 text-left">
                                        <img class="w-100 img-shrink" src="/img/pro/howitwork/screenshot-buyer/img-cons-3.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="content">
                        <div class="container">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-lg-6 text-left d-flex align-items-center">
                                        <div>
                                            <div class="carousel-number d-inline-block">4</div><h4 class="text-bold text-primary d-inline-block">Consult and complete</h4>
                                            <div class="">
                                                Yadiyad will securely pay the consultant after the session is completed.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 text-left">
                                        <img class="w-100 img-shrink" src="/img/pro/howitwork/screenshot-buyer/img-cons-4.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carousel-consultation" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-consultation" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="content">
            <div class="container">
                <div class="row mt-5 pt-5">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-lg-6 text-right d-none d-xl-block d-lg-block">
                                <img class="w-75" src="~/img/pro/howitwork/img-tab-1-ind.png" />
                            </div>
                            <div class="col-lg-6 text-left mt-5 d-flex align-items-center">
                                <div>
                                    <h2 class="text-bold text-primary">Individual</h2>
                                    <h4 class="text-bold text-primary">(Buying Services)</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="carousel-buy-service" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-6 text-right">
                                            <img class="w-100 img-shrink" src="/img/pro/howitwork/screenshot-buyer/img-ind-1.png" />
                                        </div>
                                        <div class="col-lg-6 text-left d-flex align-items-center">
                                            <div class="carousel-number d-inline-block">1</div><h4 class="text-bold text-primary d-inline-block">Easily search and compare services sellers</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-6 text-right">
                                            <img class="w-100 img-shrink" src="/img/pro/howitwork/screenshot-buyer/img-ind-2.png" />
                                        </div>
                                        <div class="col-lg-6 text-left d-flex align-items-center">
                                            <div>
                                                <div class="carousel-number d-inline-block">2</div><h4 class="text-bold text-primary d-inline-block">Select your seller</h4>
                                                <div class="">Choose from the matches and communicate on start date.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-6 text-right">
                                            <img class="w-100 img-shrink" src="/img/pro/howitwork/screenshot-buyer/img-ind-3.png" />
                                        </div>
                                        <div class="col-lg-6 text-left d-flex align-items-center">
                                            <div>
                                                <div class="carousel-number d-inline-block">3</div><h4 class="text-bold text-primary d-inline-block">Pay and hire</h4>
                                                <div class="">Pay the one-time introduction fee to secure the seller.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-6 text-right">
                                            <img class="w-100 img-shrink" src="/img/pro/howitwork/screenshot-buyer/img-ind-4.png" />
                                        </div>
                                        <div class="col-lg-6 text-left d-flex align-items-center">
                                            <div>
                                                <div class="carousel-number d-inline-block">4</div><h4 class="text-bold text-primary d-inline-block">Escrow option</h4>
                                                <div class="">
                                                    Securely pay the sellers upon satisfactory completion of services at agreed timeline.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carousel-buy-service" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-buy-service" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="mt-5 pt-5 text-center text-primary text-bold">Start searching potential talents for your business now!</h4>
                        <div class="row">
                            <div class="col-sm-12 mt-4">
                                <div class="row">
                                    <div class="col-lg-4 d-none d-xl-block d-lg-block">
                                        <img class="w-100 hiw1-bg-ico-3 " src="/img/pro/howitwork/img-tab-1-lady.png" />
                                    </div>
                                    <div class="col-lg-4 text-center">
                                        <h4 class="mb-4 text-center">Registration is Free.</h4>
                                        <btn class="btn-outline-primary btn btn-round text-bold">SIGN UP NOW</btn>
                                    </div>
                                    <div class="col-lg-4 d-none d-xl-block d-lg-block">
                                        <img class="w-100 hiw1-bg-ico-4" src="/img/pro/howitwork/img-tab-1-1.png" />

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-2" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-lg-6 text-right d-none d-xl-block d-lg-block">
                                <img class="w-75" src="~/img/pro/howitwork/img-tab-2-seek.png" />
                            </div>
                            <div class="col-lg-6 text-left mt-5 d-flex align-items-center">
                                <div>
                                    <h2 class="text-bold text-primary">Individual</h2>
                                    <h4 class="text-bold text-primary">(Seeking Jobs)</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content d-none d-xl-block d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-lg-6 ">
                            </div>
                            <div class="col-lg-6 text-left">
                                <img class="home-detail-ico-3 hiw2-bg-ico-1" src="~/img/pro/howitwork/ico-seek.svg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="carousel-seeking-job" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-6 text-right">
                                            <img class="w-100 img-shrink" src="/img/pro/howitwork/screenshot-seller/img-seek-1.png" />
                                        </div>
                                        <div class="col-lg-6 text-left mt-5 d-flex align-items-center">
                                            <div>
                                                <div class="carousel-number d-inline-block">1</div><h4 class="text-bold text-primary d-inline-block">Create your expert profile</h4>
                                                <div class="">List down your skills and expertise, preferred job mode, available time and expected salary.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-6 text-right">
                                            <img class="w-100 img-shrink" src="/img/pro/howitwork/screenshot-seller/img-seek-2.png" />
                                        </div>
                                        <div class="col-lg-6 text-left mt-5 d-flex align-items-center">
                                            <div>
                                                <div class="carousel-number d-inline-block">2</div><h4 class="text-bold text-primary d-inline-block">Pay to apply</h4>
                                                <div class="">
                                                    Choose and apply for the jobs offer which best fit your expertise and requirements.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-6 text-right">
                                            <img class="w-100 img-shrink" src="/img/pro/howitwork/screenshot-seller/img-seek-3.png" />
                                        </div>
                                        <div class="col-lg-6 text-left mt-5 d-flex align-items-center">
                                            <div>
                                                <div class="carousel-number d-inline-block">3</div><h4 class="text-bold text-primary d-inline-block">Keep track on application progress</h4>
                                                <div class="">
                                                    Organizations may contact you directly or update the status on Yadiyad.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-6 text-right">
                                            <img class="w-100 img-shrink" src="/img/pro/howitwork/screenshot-seller/img-seek-4.png" />
                                        </div>
                                        <div class="col-lg-6 text-left mt-5 d-flex align-items-center">
                                            <div>
                                                <div class="carousel-number d-inline-block">4</div><h4 class="text-bold text-primary d-inline-block">Escrow option</h4>
                                                <div class="">
                                                    Receive timely payment after completion of work at each milestone.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carousel-seeking-job" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-seeking-job" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="content">
            <div class="container">
                <div class="row mt-5 pt-5">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-lg-6 text-right d-none d-xl-block d-lg-block">
                                <img class="w-75" src="~/img/pro/howitwork/img-tab-2-sell.png" />
                            </div>
                            <div class="col-lg-6 text-left mt-5 d-flex align-items-center">
                                <h2 class="text-bold text-primary">Individual</h2>
                                <h4 class="text-bold text-primary">(Selling Services)</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content d-none d-xl-block d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-lg-4 text-left">
                                <img class="home-detail-ico-3 hiw2-bg-ico-2" src="~/img/pro/howitwork/ico-sell.svg" />
                            </div>
                            <div class="col-lg-8">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="carousel-selling-service" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-6 text-left mt-5 d-flex align-items-center">
                                            <div class="">
                                                <div class="carousel-number d-inline-block">1</div><h4 class="text-bold text-primary d-inline-block">Create your service profile</h4>
                                                <div>
                                                    List down your skills and expertise and location.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 text-left">
                                            <img class="w-100 img-shrink" src="/img/pro/howitwork/screenshot-seller/img-sell-1.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-6 text-left mt-5 d-flex align-items-center">
                                            <div class="">
                                                <div class="carousel-number d-inline-block">2</div><h4 class="text-bold text-primary d-inline-block">Personalize your service:</h4>
                                                <div>
                                                    Set your preferred work model, available time and services price.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 text-left">
                                            <img class="w-100 img-shrink" src="/img/pro/howitwork/screenshot-seller/img-sell-2.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-6 text-left mt-5 d-flex align-items-center">
                                            <div class="">
                                                <div class="carousel-number d-inline-block">3</div><h4 class="text-bold text-primary d-inline-block">Select your job</h4>
                                                <div>
                                                    Choose and accept the offer which works best for you.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 text-left">
                                            <img class="w-100 img-shrink" src="/img/pro/howitwork/screenshot-seller/img-sell-3.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-6 text-left mt-5 d-flex align-items-center">
                                            <div class="">
                                                <div class="carousel-number d-inline-block">4</div><h4 class="text-bold text-primary d-inline-block">Escrow option</h4>
                                                <div>
                                                    Receive timely payment after completion of work at each milestone.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 text-left">
                                            <img class="w-100 img-shrink" src="/img/pro/howitwork/screenshot-seller/img-sell-4.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carousel-selling-service" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-selling-service" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="content">
            <div class="container">
                <div class="col-sm-12">

                    <h4 class="mt-5 pt-5 text-center text-primary text-bold">Showcase your skills with yadiyad PRO and start earning today!</h4>
                    <div class="row">
                        <div class="col-sm-12 mt-4">
                            <div class="row">
                                <div class="col-lg-4 d-none d-xl-block d-lg-block">
                                    <img class="w-100 hiw2-bg-ico-3" src="/img/pro/howitwork/img-tab-2-1.png" />
                                </div>
                                <div class="col-lg-4 text-center">
                                    <h4 class="mb-4 text-center">Registration is Free.</h4>
                                    <btn class="btn-outline-primary btn btn-round text-bold">SIGN UP NOW</btn>
                                </div>
                                <div class="col-lg-4 d-none d-xl-block d-lg-block">
                                    <img class="w-100 hiw2-bg-ico-4" src="/img/pro/howitwork/img-tab-2-3.png" />

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





    </div>

</div>