@{
    Layout = "_LandingLayout";
    ViewData["Layout"] = "Blank";
    ViewData["Theme"] = "landing";
}

<script>
    document.title = 'Yadiyad Pro & Shuq';
</script>
<div class="content">
    <div class="container">
        <header class="pt-5 pb-5">
            <div class="text-center">
                <img class="logo-landing" src="/img/pro/brand/logo-new.png" alt="YadiYad Logo" />
            </div>
        </header>
        <div class="pl-md-5 pr-md-5">
            <h2 class="text-primary text-center mt-2 text-bold">Hand In Hand With You In The Digital Age</h2>
            <h5 class="text-center pl-md-5 pr-md-5 mb-2">
                Welcome! Yadiyad means hand in hand. We are your helping hand to participate and thrive in the gig economy.
            </h5>
        </div>
        <div class="row mt-5">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-6 text-center landing-subcard-1">
                        <div class="landing-subcard-link-1">

                        </div>
                        <a href="/pro/home/info" class="landing-subcard-group-1">
                            <div class="landing-subcard-inner-1">
                                <img class="pt-5 pb-4 pl-5 pr-5 w-100 landing-subcard-inner-item" src="/img/pro/brand/logo-pro-half-filled.png" />
                                <h4 class="text-white pb-5 pl-5 pr-5 landing-subcard-inner-item">Hire senior and experienced professionals by individuals and organizations</h4>
                            </div>
                            <div class="pt-2 pb-2 pr-4 pl-4 bg-secondary landing-subcard-label-1">
                                <h2 class="text-primary text-bold text-center">Yadiyad PRO</h2>
                            </div>
                        </a>

                    </div>

                    <div class="col-md-6 text-center landing-subcard-2">
                        <div class="landing-subcard-link-1">

                        </div>
                        <a href="/shuq" class="landing-subcard-group-1">
                            <div class="landing-subcard-inner-1">
                                <img class="pt-5 pb-4 pl-5 pr-5 w-100 landing-subcard-inner-item" src="/img/pro/brand/logo-shuq-half-filled.png" />
                                <h4 class="text-white pb-4 pl-5 pr-5 landing-subcard-inner-item">Buy and sell homemade food and handmade products of skills and talents​​</h4>
                            </div>
                            <div class="pt-2 pb-2 pr-4 pl-4 bg-tertiary landing-subcard-label-1">
                                <h2 class="text-primary text-bold">Yadiyad SHUQ</h2>
                            </div>

                        </a>
                    </div>
                </div>
            </div>
        </div>
        <span class="text-center d-block mt-5">Copyright &copy; 2021 Yadiyad. All Rights Reserved.</span>
    </div>
</div>

<script>
    //$(".landing-subcard-1").hover(function () {
    //    $(".landing-subcard-1").attr("display","none");
    //})
</script>