@{
    ViewData["Layout"] = "Home";
    ViewData["Theme"] = "vision";
}

<div class="content vision-part-1 pt-5 pb-5">
    <div class="container">
        <div class="text-center">
            <h2 class="mb-5 text-center text-primary text-bold content-title d-inline-block">Enriching Work For Abundant Life, The Way To Achieve It</h2>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="mb-4">
                    With the advent of the gig economy, the Malaysian workforce is becoming more blended as more malaysians take on freelancing gigs either on part time or full time basis. Digitalization and the pandemic also redefines the norm and characteristics of work, such as flexibiity of time and place of work, dynamic employer-employee relationships etc.
                </div>
                <div class="mb-4">
                    Malaysia is rapidly transitioning from an aging nation to an aged nation. By 2045 it is estimated that more than 10 percent of the population will be above the age of 65. With longer life expectancy, seniors who have retired from the workforce at age of 55 are confronted with livelihood challenges including insufficient or fast depleting retirement savings.
                </div>
                <div class="text-bold mb-4">
                    This is where Yadiyad comes in, providing the helping hand to enable every individual to achieve a meaningful, fruitful and abundant life.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="home-section-background content vision-part-2 pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-xl-6 col-lg-12">
                        <h4 class="text-bold">Vision</h4>
                        <div class="mb-5">
                            We are inspired to be the positive impact in the digital economy enabled by technology and driven by purpose. Our C.O.R.E values are Connect, Ownership, Responsible and Empower.
                        </div>
                        <h4 class="text-bold">Mission</h4>
                        <div class="mb-5">
                            To enable freelancing talents and professionals to find enriching work to achieve abundant life by providing the helping hand needed at every step - from finding the right match to work completion and compensation.
                        </div>
                    </div>
                    <div class="col-lg-6 text-center d-none d-xl-block">
                        <img class="w-75" src="~/img/pro/vision/img-people-1.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content vision-part-3 pt-5 pb-5">
    <div class="container">
        <h3 class="text-bold mb-5">The Yadiyad Differentiation</h3>
        <div class="row">
            <div class="col-sm-12">
                <div class="row group-table-parent">
                    <div class="col-lg-4">
                        <div class="m-4 p-4">
                            <div class="text-bold mb-4 group-table-header p-2 text-center">Customer Experience</div>
                            <div class="mb-4">
                                We strive to make it simple and easy for every gig hirer or worker, young or old, to utilize the platform through intuitive and seamless interfaces.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="m-4 p-4">
                            <div class="text-bold mb-4 group-table-header p-2 text-center">Continuous Innovation</div>
                            <div class="mb-4">
                                Innovation is in our DNA and our platform services are constantly being updated from time to time to bring you tp yo date service offerings.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="m-4 p-4">
                            <div class="text-bold mb-4 group-table-header p-2 text-center">Collaboration &amp; Partnership</div>
                            <div class="mb-4">
                                We are open to faster win-win relationships with partners and clients to maximize the benefits of digital ecosystems.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@*@section ScriptLibs{
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
    @section Scripts{
        <environment include="Development">
            <script src="~/js/pro/account/signin.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="~/js/pro/account/signin.es5.min.js" asp-append-version="true"></script>
        </environment>
    }*@
