@model PasswordChangeProModel

<div class="content content-account-password-change">
    <div class="container">
        <div class="mt-3 mb-3">
            <h1 class="text-center font-weight-bolder title-update ">Settings</h1>
        </div>
        <form asp-controller="Account" asp-action="PasswordChange" method="post" autocomplete="off">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="font-weight-bolder">Change Password</h4>
                        </div>

                        <div class="col-12">
                            <div class="form-group row">
                                <div class="col-sm-3 col-form-label">
                                    <div asp-validation-summary="ModelOnly" class="text-center text-danger"></div>

                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Old Password</label>
                                <div class="col-sm-9">
                                    <input asp-for="OldPassword" type="password" class="form-control" placeholder="Old Password" required="" autofocus="">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">New Password</label>

                                <div class="col-sm-9">
                                    <input asp-for="NewPassword" type="password" class="form-control" placeholder="New Password" required="" autofocus="">

                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group row">
                                <label for="" class="col-sm-3 col-form-label">Confirm New Password</label>
                                <div class="col-sm-9">
                                    <input asp-for="ConfirmNewPassword" type="password" class="form-control" placeholder="Confirm New Password" required="" autofocus="">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
        @if (Model.IsIndividual == true)
        {
            <form asp-controller="Account" asp-action="SettingChange" method="post" autocomplete="off">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="font-weight-bolder">Profile Online / Offline Status</h4>
                            </div>
                            <input type="hidden" asp-for="CustomerId" />
                            <div class="col-12">
                                <div class="form-group row">
                                    <label for="" class="col-sm-3 col-form-label">Show Profile</label>
                                    <div class="col-sm-9">
                                        <div class="radio d-inline-block mr-4">
                                            <label class="col-form-label form-check-label">
                                                <input type="radio" asp-for="IsOnline" value="true" checked>
                                                Online
                                            </label>
                                        </div>
                                        <div class="radio d-inline-block mr-4">
                                            <label class="col-form-label form-check-label">
                                                <input type="radio" asp-for="IsOnline" value="false">
                                                Offline
                                            </label>
                                        </div>
                                        @T("Pro.Account.Setting.ProfileOnline.Explaination")
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        }


    </div>
</div>
@section StyleLibs{
}
@section ScriptLibs{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
@section Scripts{
    <environment include="Development">
        <script src="~/js/pro/account/passwordchange.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/pro/account/passwordchange.es5.min.js" asp-append-version="true"></script>
    </environment>
}